@import '/src/typography/colors';

.multiselect{
  width: 100%;
  padding: 11px 12px;
  border-radius: 12px;
  border: 1px solid var(--color-input);
  background: var(--text-color-secondary);
  color: var(--color-input);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  &__box {
    width: 100%;
    height: 47.5px;
  }

  &__clear {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }

  &__chip {
    flex-direction: row-reverse;
    height: auto !important;
    padding: 3px 6px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    background-color: var(--bg-color-yellow) !important;
  }

  &__option {
    padding: 4px 12px;
    border-radius: 12px;
    transition: all .3s ease;
    min-height: 40px;

    &:hover {
      background-color: var(--bg-color-yellow) !important;
    }

    &.mat {
      &-mdc {
        &-option-active {
          background: transparent !important;

          &:hover {
            background-color: var(--bg-color-yellow) !important;
          }
        }
      }
    }
  }
}
