
.search {
  position: relative;

  &__box {
    position: absolute;
    right: -7px;
    top: 50%;
    width: 0;
    transform: translateY(-50%);
    color: var(--color-input);
    border-radius: 12px;
    border-bottom: 3px solid var(--bg-color-accent);
    transition: all .3s ease;
    opacity: 0;

    &.show-box {
      width: 250px;
      opacity: 1;
    }
  }

  &__input {
    display: flex;
    height: 48px;
    padding: 5px 10px;
    align-items: center;
    gap: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-popup-menu) !important;
  }

  &__options {
    span  {
      font-size: 14px;
      line-height: 16px;
    }

    &-box {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-img {
      width: 60px;
      height: 60px;
      border-radius: 12px;
    }
  }

  &-img {
    width: 20px;
    height: 20px;
    opacity: 0.4;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .search {
    &__box {
      position: absolute;
      left: -100px;
      top: 40px;
    }
  }
}
