
.search {
  position: relative;

  &__box {
    position: absolute;
    width: 99%;
    width: 200px;
    left: -210px;
    top: -10px;
    border: 1px solid var(--color-input);
    border-radius: 12px;
    color: var(--color-input);
  }

  &__input {
    display: flex;
    height: 48px;
    padding: 10px 12px;
    align-items: center;
    gap: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: var(--text-color-secondary);
    color: var(--color-input) !important;
  }

  &-img {
    width: 24px;
    height: 24px;
    opacity: 0.4;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .search {
    &__box {
      position: absolute;
      left: -100px;
      top: 40px;
    }
  }
}
