@import '../../../../../typography/typography';
@import '../../../../../typography/buttons';

.article {
  margin-top: 108px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__flex {
    display: flex;
    gap: 28px;
    justify-content: space-between;
  }

  &__content {
    width: 100%;
  }

  &__sticky {
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__slider {
    background-color: var(--bg-color-screen);
    display: none;

    &-desktop {
      position: relative;
      background-color: var(--bg-color-screen);
      box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 12%);
      padding: 20px 14px;
      border-radius: 14px;
      width: 27%;
    }
  }

  @include body-desktop;

  img {
    width: 100%;
    object-fit: contain;
  }

  &__header {
    max-width: 100%;
    display: flex;
    gap: 24px;

    &-text {
      @include paragraph-desktop($color: $color-primary);
    }

    &-ua {
      width: 30%;
    }
  }

  &__player {
    &-main {
      height: 720px;
      border-radius: 0;
    }

    &-sub {
      width: 100%;
      display: inline-block;
      height: 476px;
      border-radius: 0;
    }

    &-descr {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;

      span {
        color: var(--text-color-popup-menu);
      }
    }
  }

  &__box {
    max-width: 845px;
    width: 100%;
  }

  &__title {
    @include h2-desktop;

    margin-bottom: 32px;
  }

  &__date {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__text {
    @include paragraph-desktop($color: $color-primary);

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__accent {
    font-weight: 600;
    position: relative;
    padding-left: 26px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: var(--bg-color-accent);
    }
  }

  &__sub {
    &-title {
      @include h4-mobile($font-size: 28px);
    }
  }

  &__sources {
    font-size: 16px;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    gap: 24px;
    flex-wrap: wrap;

    &-title {
      color: var(--text-color-popup-menu);
      font-weight: 400;
      margin: 0;
      padding-bottom: 10px;
    }
  }

  &__nav {
    display: flex;
    gap: 8px;

    &-prev {
      svg {
        transform: rotate(180deg);
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &-prev,
    &-next {
      background-color: transparent;
      border: none;
    }
  }

  &__router {
    display: flex;
    justify-content: flex-end;

    &-link {
      @include link-desktop;
      @include text-button;

      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    &-arrow {
      transform: rotate(45deg);
    }
  }
}

.event {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s ease-in-out;
  position: relative;
  height: 100%;

  &:hover {
    scale: 1.01;
  }

  img {
    object-fit: cover;
    height: 70%;
    min-height: 70%;
    border-radius: 12px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }

  &__date {
    @include caption-desktop;

    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
    z-index: 1;
    font-weight: bold;
    color: var(--text-color-extra-1);
    padding: 3px 15px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      border-radius: 0 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: var(--bg-color-yellow)
    }

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      border-radius: 0 0 0 12px;
    }
  }

  &__name {
    @include h6-desktop($font-size: 14px, $line-height: 18px, $font-family: $primary-fonts);
  }

  &__location {
    @include caption-desktop($font-size: 12px, $line-height: 14px, $color: var(----color-input));

    margin: 0;
    opacity: .8;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }

  .article {
    &__header {
      flex-direction: column-reverse;

      &-ua {
        width: 50%;
      }
    }

    &__slider {
      display: block;

      &-desktop {
        display: none;
      }
    }

    &__player {
      &-main {
        height: 524px;
      }

      &-sub {
        height: 524px;
      }
    }

    &__box {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .article {
    &__player {
      &-main {
        height: 396px;
      }

      &-sub {
        height: 396px;
      }
    }
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }

  .article {
    margin-top: 96px;

    &__about {
      &-box {
        width: 46%;
      }
    }
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .article {
    padding: 32px 0;
    gap: 32px;

    &__header {
      &-ua {
        width: 100%;
      }

      &-text {
        font-size: 16px;
      }
    }

    &__date {
      flex-direction: column;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 16px;
    }

    &__player {
      &-main {
        height: 200px;
      }

      &-sub {
        height: 200px;
      }
    }

    &__text {
      font-size: 16px;
      gap: 16px;
    }

    &__about {
      &-title {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 421px) {
  .article {
    margin-top: 80px;
  }
}
