<ng-container>
  <div class="container" *ngIf="expeditionArticle">
    <section class="article">
      <app-breadcrumbs></app-breadcrumbs>

      <div class="article__header">
        <div class="article__header-box article__box">
          <h1 class="article__title">{{ expeditionArticle.title }}</h1>
          <div class="article__date">
            <span>{{ expeditionArticle.expedition_date }} • </span>
            <span>{{ expeditionArticle.location }} • </span>
            <span>{{ expeditionArticle.category.title }} експедиція</span>
          </div>
          <p class="article__header-text">{{ expeditionArticle.short_description }}</p>
        </div>
        <div class="article__header-box article__header-ua">
          <img *ngIf="expeditionArticle.map_photo" src="{{ expeditionArticle.map_photo }}" alt="" heigh="200" width="300" />
        </div>

      </div>

      <div class="article__content">
        <app-content-text [content]="expeditionArticle.content"></app-content-text>
      </div>

      <div class="article__box article__text">
        <h2 class="article__sub-title">{{ 'expeditions.article.about-article.title' | translate }}</h2>
        <div class="article__about">
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.collectors' | translate }}:</h5>
            <div class="article__about-text" *ngFor="let author of expeditionArticle.authors">
              <p>{{ author }}</p>
            </div>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.editor' | translate }}:</h5>
              <div class="article__about-text" *ngFor="let editor of expeditionArticle.editors">
                  <p>{{ editor }}</p>
              </div>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.video-editing' | translate }}:</h5>
              <div class="article__about-text" *ngFor="let photographer of expeditionArticle.photographers">
                  <p>{{ photographer }}</p>
              </div>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.record' | translate }}:</h5>
              <div class="article__about-text" *ngFor="let recording of expeditionArticle.recording">
                <p>{{ recording }}</p>
              </div>
          </div>
        </div>
      </div>
      <app-share class="article__box"></app-share>
    </section>
  </div>

  <div class="article__slider" *ngIf="sliderItems.length">
    <app-slider [sliderItems]="sliderItems" [title]="'Пов’язані експедиції'" [link]="'/expeditions'"></app-slider>
  </div>
</ng-container>
