@import '../../../../../typography/typography';

.article {
  margin-top: 108px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__slider {
    background-color: var(--bg-color-screen);
  }

  @include body-desktop;

  img {
    width: 100%;
    object-fit: contain;
  }

  &__header {
    max-width: 100%;
    display: flex;
    gap: 24px;

    &-text {
      @include paragraph-desktop($color: $color-primary);
    }

    &-ua {
      width: 30%;
    }
  }

  &__player {
    &-main {
      height: 720px;
      border-radius: 0;
    }

    &-sub {
      width: 100%;
      display: inline-block;
      height: 476px;
      border-radius: 0;
    }

    &-descr {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;

      span {
        color: var(--text-color-popup-menu);
      }
    }
  }

  &__box {
    max-width: 845px;
  }

  &__title {
    @include h2-desktop;

    margin-bottom: 32px;
  }

  &__date {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__text {
    @include paragraph-desktop($color: $color-primary);

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__accent {
    font-weight: 600;
    position: relative;
    padding-left: 26px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: var(--bg-color-accent);
    }
  }

  &__sub {
    &-title {
      @include h4-mobile($font-size: 28px);
    }
  }

  &__sources {
    font-size: 16px;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    gap: 24px;
    flex-wrap: wrap;

    &-title {
      color: var(--text-color-popup-menu);
      font-weight: 400;
      margin: 0;
      padding-bottom: 10px;
    }
  }

  &__nav {
    display: flex;
    gap: 8px;

    &-prev {
      svg {
        transform: rotate(180deg);
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &-prev,
    &-next {
      background-color: transparent;
      border: none;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }

  .article {
    &__header {
      flex-direction: column-reverse;

      &-ua {
        width: 50%;
      }
    }

    &__player {
      &-main {
        height: 524px;
      }

      &-sub {
        height: 524px;
      }
    }

    &__box {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .article {
    &__player {
      &-main {
        height: 396px;
      }

      &-sub {
        height: 396px;
      }
    }
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }

  .article {
    margin-top: 96px;

    &__about {
      &-box {
        width: 46%;
      }
    }
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .article {
    padding: 32px 0;
    gap: 32px;

    &__header {
      &-ua {
        width: 100%;
      }

      &-text {
        font-size: 16px;
      }
    }

    &__date {
      flex-direction: column;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 16px;
    }

    &__player {
      &-main {
        height: 200px;
      }

      &-sub {
        height: 200px;
      }
    }

    &__text {
      font-size: 16px;
      gap: 16px;
    }

    &__about {
      &-title {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 421px) {
  .article {
    margin-top: 80px;
  }
}
