<ng-container>
  <div class="container" *ngIf="expeditionArticle">
    <section class="article">
      <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

      <div class="article__header">
        <div class="article__header-box article__box">
          <h1 class="article__title">{{ expeditionArticle.title }}</h1>
          <div class="article__date">
            <span>{{ expeditionArticle.expedition_date | date: 'dd.MM.yyyy' }} • </span>
            <span>{{ expeditionArticle.location }} • </span>
            <span>{{ expeditionArticle.category.name }}</span>
          </div>
          <p class="article__header-text">{{ expeditionArticle.short_description }}</p>
        </div>
        <div class="article__header-box article__header-ua">
          <img *ngIf="expeditionArticle.map_photo" src="{{ expeditionArticle.map_photo }}" alt="" heigh="200" width="300" />
        </div>

      </div>
      <div class="article__flex">
        <div class="article__content">
          <app-content-text [content]="expeditionArticle.content"></app-content-text>
        </div>
        <div class="article__slider-desktop" *ngIf="sliderItemsDesktop.length">
          <div class="article__sticky" >
            <h2 class="article__slider-title">Пов’язані експедиції</h2>
            <div class="article__slider-page">
              <mat-card class="article__slider-card" *ngFor="let item of sliderItemsDesktop">
                <mat-card-content (click)="navigateTo(item.id)" (keydown)="navigateTo(item.id)" tabindex="0">
                    <div class="event">
                      <img [src]="item.preview_photo" width="400" height="270" alt="photo">
                      <span class="event__date">{{ item.expedition_date | date: 'dd.MM.yyyy' }}</span>
                      <div class="event__container" style="cursor: pointer">
                        <p class="event__name" *ngIf="item.title">{{ item.title.length > 50 ? item.title.substring(0, 50) + '...' : item.title }}</p>
                        <p class="event__location">{{ item.location }}</p>
                      </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="article__router">
              <button
                aria-label="navigate to expedition"
                class="article__router-link"
                (click)="navigateToExp(expeditionArticle.category.id)"
              >{{'home.home-expeditions.router-link' | translate}}
                <svg class="article__router-arrow" width="24" height="24">
                  <use xlink:href="./assets/sprites.svg#arrowArticleItem"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="article__box article__text">
        <h2 class="article__sub-title">{{ 'expeditions.article.about-article.title' | translate }}</h2>
        <div class="article__about">
          <div class="article__about-box" >
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.collectors' | translate }}:</h5>
            <div class="article__about-text" *ngFor="let author of expeditionArticle.authors">
              <p>{{ author }}</p>
            </div>
          </div>
          <div class="article__about-box" *ngIf="expeditionArticle.editors.length">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.editor' | translate }}:</h5>
              <div class="article__about-text" *ngFor="let editor of expeditionArticle.editors">
                  <p>{{ editor }}</p>
              </div>
          </div>
          <div class="article__about-box" *ngIf="expeditionArticle.photographers.length">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.video-editing' | translate }}:</h5>
              <div class="article__about-text" *ngFor="let photographer of expeditionArticle.photographers">
                  <p>{{ photographer }}</p>
              </div>
          </div>
          <div class="article__about-box" *ngIf="expeditionArticle.recording.length">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.record' | translate }}:</h5>
              <div class="article__about-text" *ngFor="let recording of expeditionArticle.recording">
                <p>{{ recording }}</p>
              </div>
          </div>
        </div>
      </div>
      <app-share class="article__box"></app-share>
    </section>
  </div>
  <div class="article__slider" *ngIf="sliderItems.length">
    <app-slider [sliderItems]="sliderItems" [title]="'Пов’язані експедиції'" [link]="'/expeditions'"></app-slider>
  </div>
</ng-container>
