<ng-container *ngIf="selectedExpedition$ | async as article">
  <div class="container">
    <section class="article" *ngIf="article.id">
      <app-breadcrumbs></app-breadcrumbs>

      <div class="article__header">
        <div class="article__header-box article__box">
          <h1 class="article__title">{{ article.title }}</h1>
          <div class="article__date">
            <span>{{ article.date_event }} • </span>
            <span>{{ article.location }} • </span>
            <span>{{ article.type_expedition }} експедиція</span>
          </div>
          <p class="article__header-text">{{ article.brief_description }}</p>
        </div>
        <div class="article__header-box article__header-ua">
          <img src="../../../../../assets/img/ua.png" alt="" />
        </div>
      </div>

      <app-video-player class="article__player-main" [widthIcon]="72" [srcUrl]="article.video_1"></app-video-player>

      <div class="article__box article__text" *ngIf="article.text_1" [innerHTML]="article.text_1"></div>
      <div class="article__box article__text article__accent" *ngIf="article.text_2" [innerHTML]="article.text_2"></div>
      <div class="article__box article__text" *ngIf="article.text_3" [innerHTML]="article.text_3"></div>
      <div class="article__box article__text">
        <h2 class="article__sub-title">Обрядовий пісенний фольклор</h2>
        <div class="article__text" *ngIf="article.text_4" [innerHTML]="article.text_4"></div>
      </div>
      <div class="article__box">
        <app-video-player class="article__player-sub" [srcUrl]="article.video_2"></app-video-player>

        <div class="article__player-descr">
          <p>
            1/2 <span>{{ article.comment_to_video_2 }}</span>
          </p>
          <div class="article__nav">
            <button class="article__nav-prev">
              <svg width="40" height="40" viewBox="0 0 48 48">
                <use xlink:href="./assets/sprites.svg#sharedArrow"></use>
              </svg>
            </button>
            <button class="article__nav-next">
              <svg width="40" height="40" viewBox="0 0 48 48">
                <use xlink:href="./assets/sprites.svg#sharedArrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="article__box article__text" *ngIf="article.text_5" [innerHTML]="article.text_5"></div>
      <div class="article__box">
        <app-video-player class="article__player-sub" [srcUrl]="article.video_3"></app-video-player>

        <div class="article__player-descr">
          <p>
            <span>{{ article.comment_to_video_3 }}</span>
          </p>
        </div>
      </div>
      <div class="article__box article__text" *ngIf="article.text_6" [innerHTML]="article.text_6"></div>
      <div class="article__box">
        <app-video-player class="article__player-sub" [srcUrl]="article.video_4"></app-video-player>

        <div class="article__player-descr">
          <p>
            <span>{{ article.comment_to_video_4 }}</span>
          </p>
        </div>
      </div>
      <div class="article__box article__text">
        <h2 class="article__sub-title">Позаобрядовий фольклор</h2>
        <div class="article__text" *ngIf="article.text_7" [innerHTML]="article.text_7"></div>
      </div>
      <div class="article__box">
        <app-video-player class="article__player-sub" [srcUrl]="article.video_4"></app-video-player>
        <div class="article__player-descr">
          <p>
            <span>{{ article.comment_to_photo }}</span>
          </p>
        </div>
      </div>
      <div class="article__box article__text article__accent" *ngIf="article.text_8" [innerHTML]="article.text_8"></div>
      <div class="article__box article__text" *ngIf="article.text_9" [innerHTML]="article.text_9"></div>
      <div class="article__box article__text">
        <h2 class="article__sub-title">{{ 'expeditions.article.sources' | translate }}</h2>
        <div class="article__text article__sources" *ngIf="article.text_10" [innerHTML]="article.text_10"></div>
      </div>
      <div class="article__box article__text">
        <h2 class="article__sub-title">{{ 'expeditions.article.about-article.title' | translate }}</h2>
        <div class="article__about">
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.collectors' | translate }}:</h5>
            <div class="article__about-text" *ngFor="let author of article.collectors.split(', ')">
              <p>{{ author }}</p>
            </div>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.editor' | translate }}:</h5>
            <div class="article__about-text" *ngFor="let author of article.editor.split(', ')">
              <p>{{ author }}</p>
            </div>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.video-editing' | translate }}:</h5>
            <div class="article__about-text" *ngFor="let author of article.video_inst.split(', ')">
              <p>{{ author }}</p>
            </div>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'expeditions.article.about-article.record' | translate }}:</h5>
            <div class="article__about-text" *ngFor="let author of article.record.split(', ')">
              <p>{{ author }}</p>
            </div>
          </div>
        </div>
      </div>
      <app-share class="article__box"></app-share>
    </section>
  </div>

  <div *ngIf="article.id" class="article__slider">
    <app-slider [sliderItems]="sliderItems" [title]="sliderTitle" colorScheme="default"></app-slider>
  </div>
</ng-container>
