<div class="donation">
  <div class="donation__close">
    <span mat-button mat-dialog-close class="donation__close-btn">
      <svg width="18" height="18" viewBox="0 0 20 20">
        <use xlink:href="./assets/sprites.svg#headerClose"></use>
      </svg>
    </span>
  </div>
  <h1 class="donation__title">ГО "МУЗЕЙ КОЛИСКОВОЇ"</h1>
  <div class="donation__credentials">
    <div>ЄДРПОУ:{{ register }}.</div>
    <div>IBAN:{{ iban }}.</div>
    <div>АТ КБ "ПРИВАТБАНК"</div>
  </div>

  <div class="donation__purpose">
    <span class="donation__purpose-title"> Призначення платежу:</span>
    <span class="donation__purpose-message">"{{ purposeMessage }}"</span>
  </div>

  <div mat-dialog-actions class="donation__actions">
    <div mat-dialog-actions class="donation__actions-qr">
      <img src="assets/img/home/Donation/privat-qr.png"  alt="Graphic key"/>
      <span class="donation__actions-caption">QRкод (Приват24)</span>
    </div>
    <div mat-dialog-actions class="donation__actions-options">
      <button
        class="donation__actions-button"
        (click)="copyIBAN()"
        (keypress)="copyIBAN()"
        tabindex="0"
      >
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="./assets/sprites.svg#copy"></use></svg
        >{{ actions.copy }}
      </button>
      <button class="donation__actions-button">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="./assets/sprites.svg#buyMeCoffee"></use></svg
        >{{ actions.bmc }}
      </button>
      <button class="donation__actions-button">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="./assets/sprites.svg#patreon"></use></svg
        >{{ actions.patreon }}
      </button>
    </div>
  </div>
</div>
