<div class="donation" *ngIf="donation$ | async as donat">
  <div class="donation__close">
    <span mat-button mat-dialog-close class="donation__close-btn">
      <svg width="18" height="18" viewBox="0 0 20 20">
        <use xlink:href="./assets/sprites.svg#headerClose"></use>
      </svg>
    </span>
  </div>
  <h1 class="donation__title">{{ donat.organization_name }}</h1>
  <div class="donation__credentials">
    <div class="copy" tabindex="0" (keydown)="clipboard.copy(donat.edrpou.toString())" (click)="clipboard.copy(donat.edrpou.toString())">ЄДРПОУ: {{ donat.edrpou }}</div>
    <div class="copy" tabindex="0" (keydown)="clipboard.copy(donat.iban.toString())" (click)="clipboard.copy(donat.iban.toString())">{{ donat.iban }}</div>
    <div class="copy" tabindex="0" (keydown)="clipboard.copy(donat.bank.toString())" (click)="clipboard.copy(donat.bank.toString())">{{ donat.bank }}</div>
  </div>

  <div class="donation__purpose" *ngIf="donat.info">
    <span class="donation__purpose-title"> Призначення платежу:</span>
    <span class="donation__purpose-message">{{ donat.info }}</span>
  </div>

  <div mat-dialog-actions class="donation__actions">
    <div mat-dialog-actions class="donation__actions-qr">
      <img [src]="donat.qr_code_url" alt="Graphic key" />
      <span class="donation__actions-caption">QRкод (Приват24)</span>
    </div>
    <div mat-dialog-actions class="donation__actions-options">
      <button class="donation__actions-button" (click)="clipboard.copy(donat.iban)" (keypress)="clipboard.copy(donat.iban)" tabindex="0">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="./assets/sprites.svg#copy"></use>
        </svg>
        {{ actions.copy }}
      </button>
      <a
        class="donation__actions-button"
        [href]="donat.coffee_url"
        target="_blank"
      >
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="./assets/sprites.svg#buyMeCoffee"></use>
        </svg>
        {{ actions.bmc }}
      </a>
      <a
        class="donation__actions-button"
        [href]="donat.patreon_url"
        target="_blank"
      >
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="./assets/sprites.svg#patreon"></use>
        </svg>
          {{ actions.patreon }}
        </a>
    </div>
  </div>
</div>
