@import '../../../../typography/typography';

$close-btn-size: 20px;

/* stylelint-disable */

::ng-deep .custom-modalbox {
  border-radius: 16px;
  overflow-y: auto;
  width: 627px;
  background: #fff9ef;
}

.donation {
  text-align: center;
  margin: 0 auto;
  background: #fff9ef;

  &__close {
    text-align: end;
    padding: 20px 20px 0 0;

    &-btn {
      display: inline-flex;
      align-self: flex-end;
      height: $close-btn-size;
      width: $close-btn-size;
      cursor: pointer;
    }
  }

  &__title {
    @include h5-desktop($font-size: 24px, $line-height: 30px);

    padding-top: 8px;
  }

  &__credentials {
    div {
      @include paragraph-desktop($color: $color-primary);

      display: inline-block;
      word-break: break-word;
      max-width: 400px;
      min-width: 300px;
    }
  }

  &__purpose {
    margin: 0 auto;
    max-width: 400px;
    min-width: 300px;

    &-title {
      @include subtitle-desktop;

      text-align: center;
      display: block;
      padding-top: 8px;
      padding-bottom: 3px;
    }

    &-message {
      @include paragraph-desktop($color: $color-primary);

      display: inline-block;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 35px;

    &-qr {
      display: block;
    }

    &-caption {
      @include subtitle-desktop;

      display: block;
    }

    &-options {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-button {
      @include button-desktop;

      width: 207px;
      height: 48px;
      background: var(--text-color-accent);
      border-radius: 100px;
      border: 1px solid transparent;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      &:hover {
        background: rgba(255, 255, 255, 0);
        color: black;
        border: 2px solid var(--text-color-accent);
        transition: all 0.2s linear;
      }

      &:active {
        filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 10%));
      }
    }
  }
}

@media (width <= 768px) {
  ::ng-deep .custom-modalbox {
    width: 511px;
  }
}

@media (width < 391px) {
  ::ng-deep .custom-modalbox {
    min-width: 98vw;
    overflow: hidden;
    overflow-y: auto;
  }

  .donation {
    padding-bottom: 35px;

    &__close { 
      &-btn {
        display: inline-block;
        align-self: flex-end;
        height: $close-btn-size;
        width: $close-btn-size;
        cursor: pointer;
      }
    }

    &__title {
      @include h5-desktop($font-size: 24px, $line-height: 30px);

      padding-top: 8px;
      padding-bottom: 24px;
    }

    &__credentials {
      div {
        @include body-mobile;
      }
    }

    &__purpose {
      &-title {
        @include h6-mobile($font-family: $primary-fonts);

        text-align: center;
        display: block;
        padding-top: 24px;
        padding-bottom: 8px;
      }

      &-message {
        @include body-mobile;
      }
    }

    &__actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;

      &-qr {
        @include h6-mobile($font-family: $primary-fonts);
      }

      &-options {
        width: 100%;
        padding: 0;
      }

      &-button {
        max-width: 358px;
        width: 100%;
      }
    }
  }
}
