<header class="header">
  <app-preloader *ngIf="isLoading$ | async"></app-preloader>
  <nav class="nav">
    <div class="logo">
      <a class="logo__link" routerLink="" routerLinkActive="active">
        <svg class="logo__link-img">
          <use xlink:href="./assets/sprites.svg#logo"></use>
        </svg>
      </a>
    </div>
    <div class="menu">
      <div class="burger" (click)="togglePopUp()" (keypress)="togglePopUp()" tabindex="2">
        <svg class="burger__icon">
          <use xlink:href="./assets/sprites.svg#headerBurger"></use>
        </svg>
      </div>
      <ul [ngClass]="menuSwitcherOff ? 'menu-list switcher' : 'menu-list'" tabindex="0">
        <li class="menu-list__item" *ngFor="let link of navLinks">
          <a class="menu-list__item-link" [routerLink]="link.route" routerLinkActive="active">
            {{ link.name | translate }}
          </a>
        </li>
      </ul>
    </div>
    <div class="actions" tabindex="3">
      <div class="actions__search">
        <svg class="actions__search-img">
          <use xlink:href="./assets/sprites.svg#headerSearch"></use>
        </svg>
      </div>
      <div class="actions__lang">
        <ul class="actions__lang-list">
          <li class="actions__lang-item" (click)="selectLang()" (keyup.space)="selectLang()" tabindex="4">
            <span>
              {{ lang }}
            </span>
          </li>
        </ul>
      </div>
      <div class="actions__donate">
        <button class="actions__donate-button"
          (click)="openDonationDialog()"
        >{{ 'header.actions.button-donate' | translate }}
        </button>
      </div>
    </div>
  </nav>
  <app-pop-up-menu
      *ngIf="isPopupOpen"
      (changeLangDetection)="receivedData($event)"
      (isPopupOpenChange)="onPopupChange($event)">
    <div class="icon" (click)="togglePopUp()" (keypress)="togglePopUp()" tabindex="6">
      <svg class="icon__close" width="20" height="20" viewBox="0 0 20 20">
        <use xlink:href="./assets/sprites.svg#headerClose"></use>
      </svg>
    </div>
  </app-pop-up-menu>
</header>
