@import '../../../../typography/typography';

ul,
li,
a {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   color: var(--text-color-primary);
}

.header {
   width: 100vw;
   box-sizing: border-box;
   position: fixed;
   top: 0;
   left: 0;

   .nav {
      margin: 0 auto;
      padding: 0 80px;
      width: calc(100vw - 160px);
      max-width: 1280px;
      height: 108px;
      background-color: var(--bg-color-header);
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .logo {
         width: 80px;
         height: 76px;
      }

      .menu {
         width: 55%;
         max-width: 555px;

         &-list {
            display: flex;
            justify-content: space-between;

            &__item-link {
               @include link-desktop;

               &.active {
                  text-decoration: underline;
                  outline: none;
               }

               &:hover {
                  text-decoration: underline;
               }
            }
         }
      }

      .actions {
         width: 270px;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         align-items: center;
         position: relative;

         &__search {
            &-img {
               width: 24px;
               height: 24px;

               &:hover {
                  cursor: pointer;
               }
            }
         }

         &__lang {
            margin: 0 25px;
            position: absolute;
            top: 0;
            right: 148px;

            &-list {
               width: 46px;
               height: 46px;
               text-align: center;
               border: 1px solid #000;
               border-radius: 98px;

               @include button-desktop;

               line-height: 46px;

               &:hover {
                  cursor: pointer;
               }
            }

            &-list--open {
               padding-top: 10px;
               height: 61px;
               line-height: 25px;
               border-radius: 100px;
            }
         }

         &__donate {
            &-button {
               width: 148px;
               height: 46px;
               background: var(--text-color-accent);
               border-radius: 100px;
               border: 1px solid transparent;

               @include button-desktop;

               &:hover {
                  background: transparent;
                  border: 1px solid var(--text-color-accent);
                  color: var(--bg-color-accent);
               }
            }
         }
      }
   }

}

// Burger icon markup

.burger {
   display: none;

   &__input {
      display: none;
   }

   &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33px;
      height: 33px;
      border: 1px solid transparent;
      border-radius: 50%;
      cursor: pointer;

      .burger__icon::before,
      .burger__icon::after,
      .burger__icon {
         background: var(--text-color-primary);
         width: 28px;
         height: 2px;
         border-radius: 2px;
         transition: 0.2s;
      }

      .burger__icon::before,
      .burger__icon::after {
         content: '';
         position: relative;
         display: inline-block;
      }

      .burger__icon::before {
         top: -20px;
      }

      .burger__icon::after {
         top: -23px;
      }
   }

   &__input:checked+&__button span {
      background-color: transparent;
   }

   &__input:checked+&__button span::before {
      top: -13px;
      transform: rotate(135deg);
   }

   &__input:checked+&__button span::after {
      top: -32px;
      transform: rotate(-135deg);
   }

   &__input:checked+&__button {
      background-color: transparent;
      border: 1px solid var(--text-color-primary);
   }
}

/* Common styles for screens 1023px - 768px wide and smaller */

@media (width >=768px) and (max-width < 1024px) {
   .header {
      width: 100vw;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;

      .nav {
         padding: 0 30px;
         width: calc(100vw - 60px);
         justify-content: end;

         .logo {
            // width: 80px;
            // height: 76px;
            order: 1;
         }

         .menu {
            order: 3;
            width: 33px;
            height: 100%;

            .burger {
               display: block;
               margin-top: 35px;
               margin-left: auto;
            }

            &-list {
               margin-top: 10px;
               padding: 20px;
               width: 200px;
               height: 150px;
               flex-direction: column;
               align-items: center;
               background: var(--text-color-secondary);
               position: relative;
               right: 206px;

               &__item {
                  padding-bottom: 5px;
               }
            }
         }

         .actions {
            order: 2;
            margin-left: auto;
            margin-right: 30px;
         }

      }
   }
}