<mat-dialog-content class="dialog">
  <img class="dialog__image" [src]="ShareModal.dialogImage" alt="dialog share image">
  <p class="dialog__text">{{ ShareModalLink.text | translate }}</p>
  <button
    tabindex="0"
    (keyup)="closeDialog()"
    (click)="closeDialog()"
    class="dialog__close">
    <img [src]="ShareModal.close" alt="close" class="dialog__close-img">
  </button>
</mat-dialog-content>
<mat-dialog-actions class="dialog__action">
  <div class="dialog__action-block">
    <a
      tabindex="0"
      href="#" 
      (click)="shareOnFacebook()"
      (keyup)="shareOnFacebook()"
    >
      <img [src]="ShareModal.facebook" alt="facebook share icon">
    </a>
    <a class="dialog__action-block--text" href="#">{{ ShareModalLink.facebook | translate }}</a>
  </div>
  <div class="dialog__action-block">
    <a
      tabindex="0"
      href="#"
      (click)="shareOnInstagram()"
      (keyup)="shareOnInstagram()"
    >
      <img [src]="ShareModal.instagram" alt="instagram share icon">
    </a>
    <a class="dialog__action-block--text" href="#">{{ ShareModalLink.instagram | translate }}</a>
  </div>
  <div class="dialog__action-block">
    <a
      tabindex="0"
      href="#"
      (click)="shareOnTelegram()"
      (keyup)="shareOnTelegram()"
    >
      <img [src]="ShareModal.telegram" alt="telegram share icon">
    </a>
    <a class="dialog__action-block--text" href="#">{{ ShareModalLink.telegram | translate }}</a>
  </div>
  <div class="dialog__action-block">
    <button
      type="button"
      class="dialog__action-block--btn"
      (click)="copyCurrentUrl()"
      tabindex="0"
    >
      <img [src]="ShareModal.copy" alt="copy share icon">
    </button>
    <p
      (click)="copyCurrentUrl()"
      (keypress)="copyCurrentUrl()"
      tabindex="0"
      class="dialog__action-block--text"> {{ ShareModalLink.copy | translate }}</p>
  </div>
</mat-dialog-actions>
