@import '../../../../typography/typography';

.dialog{
  position: relative;

  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
    background-color: transparent;
  }

  &__text {
    max-width: 375px;
    text-align: center;
    margin: 5px auto 0;
    color: rgba(40, 40, 40, 100%);

    @include subtitle-desktop;
  }

  &__image {
    width: 410px;
    height: 224px;
  }

  &__action{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 24px 0 16px;
    padding: 0;

    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.2s linear;

      @include caption-desktop;

      &:hover {
        transform: scale(1.1);
        font-weight: 600;
      }

      &--text {
        margin-top: 8px;
        cursor: pointer;
      }

      &--btn {
        border: none;
        background: transparent;
      }
    }

    &-inst {
      cursor: not-allowed;
      opacity: .6;

      &:hover {
        transform: scale(1);
        font-weight: 400;
      }
    }
  }
}

/* stylelint-disable */

::ng-deep {
  .mdc-dialog__surface {
    border-radius: 12px !important;
  }

  .cdk-overlay-dark-backdrop {
    background: rgba(0,0,0,.45) !important;
  }

  .mat-mdc-snack-bar-container .mdc-snackbar__label {
    font-size: 18px !important;
    border-radius: 20px;
    padding: 10px 0;
    color: var(--bg-color-accent)!important;
  }

  .mat-mdc-snack-bar-container {
    transform: translateY(110px) !important;
    flex: inherit !important;
  }

  .mat-mdc-simple-snack-bar{
    width: 170px;
    text-align: center;
    justify-content: center !important;
  }

  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background: var(--text-color-primary) !important;
    min-width: 150px !important;
  }
}

.mdc-dialog__content {
  padding: 0;
}


@media (max-width:  525px) {
  .dialog__image {
    max-width: 100%;
  }
}


@media (max-width:  418px) {
  ::ng-deep {
    #cdk-overlay-0,
    .cdk-overlay-pane{
      min-width: 100vw;
      height: 100vh;
    }

    .mdc-dialog__surface{
      border-radius: 0 !important;
    }
  }
}

/* stylelint-enable */
