.image {
  &-wrapper {
    display: flex;
    gap: 24px;
    transition: transform 0.5s ease;
  }

  &-container {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;

    img {
      object-fit: inherit;
      vertical-align: bottom;
    }
  }
}

.songs {
  &__carousel {
    overflow: hidden;

    &-container {
      padding-top: 24px;
      display: flex;
      justify-content: space-between;
    }

    &-nav {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
    }

    &-prev {
      svg {
        transform: rotate(180deg);
      }
    }

    &-prev,
    &-next {
      background-color: transparent;
      border: none;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
