@import '../../../../../../typography/typography';
@import '../../../../../../typography/fonts';
@import '../../../../../../typography/colors';

.songs {
  padding: 80px 0;

  .container {
    .songs__info {
      display: flex;

      .songs__counter {
        min-width: 161px;
        margin-right: 132px;

        .counter__title {
          @include body-desktop;

          margin-bottom: 12px;
        }

        .counter__result {
          @include h3-mobile;

          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 65px;
          background-color: var(--bg-color-yellow);
          border-radius: 12px;
          box-shadow: 0 8px 16px 8px rgba(15, 15, 15, 20%);
          padding: 8px;
        }
      }

      .songs__player {
        min-width: 987px;

        .player__title{
          @include body-desktop;

          margin-bottom: 12px;
        }
      }
    }

    .songs__playlist {
      padding: 80px 0;

      .playlist__titles {
        display: grid;
        grid-template-columns: 0.4fr 1.5fr 1.6fr 0.6fr 0.3fr;
        justify-items: start;
        align-items: center;
        grid-gap: 16px;
        margin-bottom: 12px;
        padding: 0 12px;

        .titles {
          @include caption-desktop;
        }
      }
    }

    .title__record__info {
      min-width: 255px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

  }
}

@media (width <= 1439px) {
  .songs {
    padding: 80px 0;

    .container{
      max-width: 1024px;

      .songs__info {
        .songs__counter {
          margin-right: 24px;
        }

        .songs__player {
          min-width: 743px;

          .player__container {
            justify-content: flex-start;

            .player__actions {
              width: 198px;
              margin-right: 18px;
            }
          }
        }
      }
    }
  }
}

@media (width <= 1023px) {
  .songs {
    padding: 60px 0;

    .container{
      margin: 0 48px;

      .songs__info {
        .songs__counter {
          min-width: 105px;

          .counter__title {
            text-align: center;
          }

          .counter__result {
            height: 102px;
          }
        }

        .songs__player {
          .player__title  {
            width: 110px;
            margin: 0 auto 12px;
            text-align: center;
          }

          .player__container {
            display: block;

            .player__actions {
              width: 198px;
              margin: 0 auto 16px;
            }

            .player__timeline {
              width: 100%;
            }
          }
        }
      }

      .songs__playlist {
        padding: 60px 0;

        .playlist__titles {
          grid-template-columns: 0.4fr 1.9fr 0.9fr 0.6fr 0.2fr;

        }

        .title__record__info {
          min-width: auto;
          gap: 0;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

@media (width <= 767px) {
  .songs {
    padding: 48px 0;

    .container{
      margin: 0 32px;

      .songs__info {
        display: block;
        margin: 0 auto;

        .songs__counter {
          margin-right: 0;
          margin-bottom: 48px;

          .counter__result {
            width: 235px;
            height: 58px;
            margin: 0 auto;
          }
        }

        .songs__player {
          min-width: 100%;

          .player__title  {
            width: 100%;
          }

          .player__container {
            margin: 0 auto;
            padding: 16px;

            .player__actions {
              display: none;
            }

            .player__actions__mobile {
              min-width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 16px;

              .btn__player__mobile{
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 0;
                background-color: transparent;

                &.backward,
                &.forward{
                  width: 47px;
                  height: 32px;
                }
              }
            }

            .player__timeline {
              padding-bottom: 6px;
            }
          }
        }
      }

      .songs__playlist {
        padding: 48px 0;
      }
    }
  }
}

@media (width <=675px) {
  .songs {
    .container {
      margin: 0 32px;
    }
  }
}

@media (width <=465px) {
  .songs {
    .container {
      margin: 0 16px;
    }
  }
}
