@import '../../../../../../typography/typography';
@import '../../../../../../typography/fonts';
@import '../../../../../../typography/colors';

.songs {
  padding: 50px 0 80px;

  .container {
    position: relative;

    .songs__info {
      display: flex;
      padding-top: 30px;

      .songs__counter {
        min-width: 161px;
        margin-right: 132px;

        .counter__title {
          @include body-desktop;

          margin-bottom: 12px;
        }

        .counter__result {
          @include h3-mobile;

          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 65px;
          background-color: var(--bg-color-yellow);
          border-radius: 12px;
          box-shadow: 0 8px 16px 8px rgba(15, 15, 15, 20%);
          padding: 8px;
        }
      }

      .songs__player {
        width: 100%;

        .player__title {
          @include body-desktop;

          margin-bottom: 12px;
        }
      }
    }

    .songs__playlist {
      padding: 80px 0;

      .playlist__titles {
        display: grid;
        grid-template-columns: 0.25fr 0.9fr 1.91fr 0.65fr 0.2fr;
        justify-items: start;
        align-items: center;
        grid-gap: 22px;
        margin-bottom: 12px;
        padding: 0 12px;

        .titles {
          @include caption-desktop;

          width: 100%;
        }

        .title__photo {
          width: 72px;
        }
      }
    }

    .title__record__info {
      min-width: 255px;
      width: 100%;
      display: grid;
      grid-template-columns: 0.81fr 1.16fr;
      gap: 16px;
    }
  }
}

.fix {
  position: fixed;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 100vw;
    height: calc(100% + 50px);
    z-index: -1;
    box-shadow: 0 8px 16px 8px rgba(15, 15, 15, 20%);
  }
}

@media (width <= 1439px) {
  .fix {
    max-width: 1024px;
  }

  .songs {
    .container{
      max-width: 1024px;

      .songs__info {
        .songs__counter {
          margin-right: 24px;
        }

        .songs__player {
          .player__container {
            justify-content: flex-start;

            .player__actions {
              width: 198px;
              margin-right: 18px;
            }
          }
        }
      }
    }
  }
}

@media (width <= 1120px) {
  .fix {
    max-width: calc(100% - 96px);
  }

  .container {
    margin: 0 48px;
  }
}

@media (width <= 1024px) {
  .songs {
    .container {
      .songs__info {
        .songs__counter {
          .counter__title {
            text-align: center;
          }
        }

        .songs__player {
          .player__container {
            display: block;

            .player__actions {
              width: 198px;
              margin: 0 auto 16px;
            }

            .player__timeline {
              width: 100%;
            }
          }
        }
      }

      .songs__playlist {
        padding: 80px 0;

        .playlist__titles {
          grid-template-columns: 0.15fr 0.7fr 0.8fr 0.6fr 0.2fr;
        }


        .title__record__info {
          min-width: auto;
          gap: 0;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

@media (width <= 768px) {
  .fix {
    max-width: calc(100% - 64px);
  }

  .songs {
    padding: 30px 0 60px;

    .container {
      margin: 0 32px;

      .songs__playlist {
        padding: 60px 0;

        .playlist__titles {
          display: none;
        }
      }

      .songs__info {
        .songs__player {
          .player__title {
            text-align: center;
            width: 110px;
            margin: 0 auto 12px;
          }
        }

        .songs__counter {
          min-width: 105px;
          width: 105px;

          .counter__result {
            min-height: 102px;
          }
        }
      }
    }
  }
}

@media (width <= 630px) {
  .fix {
    max-width: calc(100% - 32px);
  }

  .songs {
    padding: 18px 0 48px;

    .container{
      margin: 0 16px;

      .songs__info {
        display: block;
        margin: 0 auto;

        .songs__counter {
          margin-right: 0;
          width: 100%;
          margin-bottom: 48px;

          .counter__result {
            width: 235px;
            min-height: auto;
            margin: 0 auto;
          }
        }

        .songs__player {
          min-width: 100%;

          .player__title  {
            width: 100%;
          }

          .player__container {
            margin: 0 auto;
            padding: 16px;

            .player__actions {
              display: none;
            }

            .player__actions__mobile {
              min-width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 16px;

              .btn__player__mobile{
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 0;
                background-color: transparent;

                &.backward,
                &.forward{
                  width: 47px;
                  height: 32px;
                }
              }
            }

            .player__timeline {
              padding-bottom: 6px;
            }
          }
        }
      }

      .songs__playlist {
        padding: 48px 0;
      }
    }
  }
}



