<section class="songs">
  <div class="container">
    <div class="songs__info" #fixedContainer [ngClass]="{'fix': isFixed}"
         [ngStyle]="{'top.px': isFixed ? heightHeader : 'auto'}"
    >
      <div class="songs__counter" *ngIf="songs$ | async as songs">
        <div class="counter__title">{{ 'map.player.counter-title' | translate }}</div>
        <div class="counter__result">
          <span>{{ songs.length }}</span>
        </div>
      </div>

      <div class="songs__player">
        <div class="player__title" *ngIf="selectedSong$ | async as song">
          {{ 'map.player.player-title' | translate }} <b>{{ song.title }}</b>
        </div>

        <app-stereo-player #stereoPlayer></app-stereo-player>

        <app-multichanel-player #multiChanelPlayer></app-multichanel-player>
      </div>
    </div>

    <div class="songs__playlist" *ngIf="songs$ | async as songs" [ngStyle]="{'margin-top.px': isFixed ? fixedContainer.clientHeight : '0'}">
      <div class="playlist__titles">
        <div class="titles title__photo">{{ 'map.player.songs-list.titles.photo' | translate }}</div>
        <div class="titles title__name">{{ 'map.player.songs-list.titles.name' | translate }}</div>
        <div class="titles title__record__info">
          <div class="record__info__genre">{{ 'map.player.songs-list.titles.genre' | translate }}</div>
          <div class="record__info__recording__location">{{ 'map.player.songs-list.titles.recording-location' | translate }}</div>
        </div>
        <div></div>
        <div class="titles title__listen">{{ 'map.player.songs-list.titles.listen' | translate }}</div>
      </div>
      <div>
        <div *ngFor="let song of itemsOnCurrentPage">
          <app-playlist-song-card [song]="song"></app-playlist-song-card>
        </div>
      </div>
    </div>
    <app-pagination
            [totalPages]="totalPages"
            [currentPage]="currentPage"
            (pageChange)="changePage($event)"
    />
  </div>
</section>
