.player__container {
  width: 100%;
  padding: 17px 16px;
  box-shadow: 0 8px 16px 8px rgba(15, 15, 15, 20%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .player__actions {
    width: 227px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn__player {
      width: 31px;
      height: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0;
      background-color: transparent;
    }
  }

  .player__actions__mobile {
    display: none;
  }

  .player__timeline {
    position: relative;
    width: 71.32%;


    input[type="range"] {
      height: 5px;
      width: 100%;
      position: relative;
      top: -4px;
      appearance: auto;
      accent-color: #282828;
      border-radius: 5px;
    }

    .timeline__time {
      position: absolute;
      top: 16px;
      font-size: 10px;
      letter-spacing: 0.2px;
      text-transform: capitalize;

      &.current__time{
        left: 0;
      }

      &.duration {
        right: 0;
      }
    }
  }

}

.player__multichanel__items {
  .multichanel__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -7px;
    z-index: 1;
    padding: 17px 16px;
    background-color: var(--bg-color-screen);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 10%) inset;

    &:last-child {
      margin-bottom: 12px;
    }

    .item__aside {
      display: flex;
      align-items: center;

      .item__name{
        margin-right: 20px;
      }

      .item__actions{
        button {
          &.active{
            background-color: yellow;
          }
        }
      }
    }

    .item__timeline{
      position: relative;
      width: 71.32%;

      input[type="range"] {
        height: 5px;
        width: 100%;
        position: relative;
        top: -4px;
        appearance: auto;
        accent-color: #282828;
        border-radius: 5px;
      }

      .timeline__time {
        position: absolute;
        top: 16px;
        font-size: 10px;
        letter-spacing: 0.2px;
        text-transform: capitalize;

        &.current__time{
          left: 0;
        }

        &.duration {
          right: 0;
        }
      }
    }

  }
}

@media (width <= 1439px) {
  .player__container {
    justify-content: flex-start;

    .player__actions {
      width: 198px;
      margin-right: 18px;
    }
  }

  .player__multichanel__items {
    .multichanel__item {
      .item__aside {
        display: flex;
        align-items: center;
        width: 198px;
        margin-right: 18px;

        .item__name{
          margin-right: 20px;
        }

        .item__actions{
          button {
            &.active{
              background-color: yellow;
            }
          }
        }
      }

      .item__timeline{
        position: relative;
        width: 71.32%;


        input[type="range"] {
          height: 5px;
          width: 100%;
          position: relative;
          top: -4px;
          appearance: auto;
          accent-color: #282828;
          border-radius: 5px;
        }

        .timeline__time {
          position: absolute;
          top: 16px;
          font-size: 10px;
          letter-spacing: 0.2px;
          text-transform: capitalize;

          &.current__time{
            left: 0;
          }

          &.duration {
            right: 0;
          }
        }
      }

    }
  }
}

@media (width <= 1023px) {
  .player__container {
    display: block;

    .player__actions {
      width: 198px;
      margin: 0 auto 16px;
    }

    .player__timeline {
      width: 100%;
    }
  }
}

@media (width <= 767px) {
  .player__container {
    margin: 0 auto;
    padding: 16px;

    .player__actions {
      display: none;
    }

    .player__actions__mobile {
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      .btn__player__mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 0;
        background-color: transparent;

        &.backward,
        &.forward{
          width: 47px;
          height: 32px;
        }
      }
    }

    .player__timeline {
      padding-bottom: 6px;
    }
  }
}
