@import '../../../../typography/typography';
@import '../../../../typography/buttons';

.home {
  background: linear-gradient(13deg, rgba(18, 9, 1, 44%) 16.50%, rgba(18, 9, 1, 0%) 73.04%), url("../../../../assets/img/home/Header-min.png") no-repeat top/cover, fixed;
  height: 757px;
  position: relative;

  &__tape {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%
  }

  &__inner {
    position: relative;
  }

  &__info {
    max-width: 630px;
    max-height: 260px;
    position: absolute;
    top: 400px;
    left: 0;

    &-desc {
      display: flex;
      flex-direction: column;
    }

    &-title {
      margin: 0 0 32px;

      @include h1-desktop;

    }

    &-subtitle {
      @include paragraph-desktop;

      font-size: 21px;
    }

    &-img {
      width: auto;
      height: 11px;
      vertical-align: middle;
    }

    &-actions {
      margin-top: 32px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
    }

    &-button {
      &-donat {
        @include primary-button;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;

        svg {
          fill: var(--text-color-primary);
        }

        &:hover {
          svg {
            fill: var(--text-color-accent);
            transition: all 0.3s linear;
          }
        }
      }

      &-share {
        @include secondary-button;
      }

    }
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }

  .home {
    background-position-x: 12%;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .home {
    height: 718px;
    background-position-x: 45%;

    &__info {
      max-height: 220px;
      inset: 400px 0 60px;
      width: auto;
      position: absolute;

      &-title {
        margin: 0 0 24px;

        @include h1-tablet;

      }

      &-subtitle {
        margin-right: 32px;
      }

      &-actions {
        margin-top: 24px;
        gap: 8px;
      }

      &-button {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }

  .home {
    background-position-x: 50%;

    &__info {
      top: 390px;
      bottom: 32px;
      height: 220px;
      width: 400px;

      &-title {
        margin: 0 0 20px;

        @include h1-mobile;

        color: var(--text-color-secondary);
      }

      &-subtitle {
        @include body-desktop;

        color: var(--text-color-secondary);
      }

      &-actions {
        margin-top: 24px;
        gap: 8px;
      }

      &-button {
        justify-content: center;
        width: 100%;
      }
    }
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .home {
    background-position-x: 50%;
    height: 677px;

    &__info {
      &-actions {
        max-width: 350px;
      }
    }
  }
}

@media (max-width: 420px) {
  .home {
    height: 676px;
    background-position-x: 50%;

    &__info {
      max-width: 358px;
      position: absolute;
      inset: 300px 0 48px;

      &-title {
        margin: 0 0 20px;

        @include h1-mobile;

        color: var(--text-color-secondary);
      }

      &-subtitle {
        @include body-desktop;

        color: var(--text-color-secondary);
      }

      &-actions {
        flex-direction: column;
        row-gap: 8px;
        max-width: 358px;

        &-button {
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 389px) {
  .home {
    background-position-x: 45%;

    &__info {
      width: auto;
    }
  }
}

