<div class="filter container">
  <div class="filter__box">
    <div
      class="filter__header"
      tabindex="0"
      (click)="isShowFilter = !isShowFilter"
      (keypress)="isShowFilter = !isShowFilter"
    >
      <div class="filter__header-box">
        <svg viewBox="0 0 32 32" width="32" height="32">
          <use xlink:href="./assets/sprites.svg#filterIcon"></use>
        </svg>
        <span class="filter__title">{{ 'map.filter.title' | translate }}</span>
      </div>

      <svg width="24" height="24" viewBox="0 0 24 24"
          [style.transform]="!isShowFilter ? ' rotate(0deg)' : 'rotate(180deg)'">
        <use xlink:href="./assets/sprites.svg#arrowFilterShow"></use>
      </svg>
    </div>

    <ng-container  *ngIf="showOptions$ | async as options">

      <form [formGroup]="form">
        <div class="filter__body" [ngClass]="{'hidden': !isShowFilter}">
          <div class="filter__location">
            <div class="filter__search filter__title-container">
              <h3 class="filter__body-title">{{ 'map.filter.search' | translate }}</h3>
              <button class="filter__clear" (click)="clearFilter()" >
                <svg width="16" height="16" viewBox="0 0 16 16">
                  <use xlink:href="./assets/sprites.svg#filterClear"></use>
                </svg>
                <span>{{ 'map.filter.button-clear' | translate }}</span>
              </button>
            </div>


            <app-search-input
              [control]="form.controls.title"
              [options]="autocompleteSongs"
              [name]="filterCategory.title"
              (songSelected)="getSelectedSong($event)"
              (searchBlur)="searchBlur($event)"
              (searchFocused)="onFocusSearch($event)"
              (enterPressed)="onEnterPressed()"
            ></app-search-input>

            <h3 class="filter__body-title">{{ 'map.filter.locations' | translate }}</h3>

            <app-multiselect
              [control]="form.controls.country"
              [options]="options.country | transformToMultiselect"
              [name]="filterCategory.country"
              (selectionOnBlur)="selectBlur()"
            ></app-multiselect>

            <app-multiselect
              [control]="form.controls.region"
              [options]="options.region | transformToMultiselect"
              [name]="filterCategory.region"
              (selectionOnBlur)="selectBlur()"
            ></app-multiselect>

            <app-multiselect
              [control]="form.controls.city"
              [options]="options.city | transformToMultiselect"
              [name]="filterCategory.city"
              (selectionOnBlur)="selectBlur()"
            ></app-multiselect>

          </div>
          <div class="filter__song">
            <h3 class="filter__body-title">{{ 'map.filter.song' | translate }}</h3>

            <app-multiselect
              [control]="form.controls.genre"
              [options]="options.genre | transformToMultiselect"
              [name]="filterCategory.genre"
              (selectionOnBlur)="selectBlur()"
            ></app-multiselect>

            <app-multiselect
              [control]="form.controls.fund"
              [options]="options.fund | transformToMultiselect"
              [name]="filterCategory.found"
              (selectionOnBlur)="selectBlur()"
            ></app-multiselect>
            <button class="filter__submit" type="submit" (click)="filterSongs()">{{ 'map.filter.button-submit' | translate }}</button>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
</div>
