<!--<div style="display: flex; justify-content: center; align-items: center;"> -->
<!--   <p style="padding: 10px; color: azure; font-size: larger; background-color: #1a1a1a;">{{ 'home.stub' | translate }}</p>-->
<!--</div>-->
<section class="home">
  <div class="container">
    <div class="home__inner">
      <div class="home__info">
        <div class="home__info-links">
          <ul class="home__info-list">
            <li class="home__info-item">
              <a routerLink="" class="home__info-link">1000+ пісень</a>
              <a routerLink="" class="home__info-link">Підтримка освіти</a>
            </li>
          </ul>
        </div>
        <div class="home__info-desc">
          <h1 class="home__info-title">1000 і 1 пісня</h1>
          <p class="home__info-subtitle">У нас зібрані українські автентичні пісні з усіх регіонів та різних жанрів. Популяризуймо Україну разом</p>
        </div>
        <div class="home__info-actions">
          <a class="home__info-button"><img [src]="HomepageDonate.donateIcon" alt="img-donate">Підтримати проєкт</a>
          <a class="home__info-button"><img [src]="HomepageShare.shareIcon" alt="img-share">Поділитись сайтом</a>
        </div>
      </div>
    </div>
  </div>
</section>
