@import '../../../../typography/typography';

.home {
  background: url("../../../../assets/img/home/Header-min.png") no-repeat center/cover;
  height: 100vh;

  &__inner {
    position: relative;
  }

  &__info {
    max-width: 630px;
    max-height: 320px;
    position: absolute;
    left: 0;
    top: 340px;
    align-items: center;

    &-item {
      @include overline-desktop;

      color: #FFE600;
    }

    &-link {
      margin-right: 32px;
      border-bottom: 1px solid #FFE600;
      transition: all 0.2s linear;
    }

    &-link:hover {
      border: none;
    }

    &-title {
      margin: 32px 0;

      @include h1-desktop;
    }

    &-subtitle {
      @include subtitle-desktop;

      color: #FEFEFE;
    }

    &-img {
      height: 11px;
    }

    &-actions {
      margin-top: 32px;
      display: flex;
      column-gap: 16px;
    }

    &-button {
      padding: 12px 24px;
      border: 2px solid #FFE600;
      border-radius: 100px;
      background: #FFE600;
      color: #131313;
      display: flex;
      column-gap: 9.5px;
      transition: all 0.2s linear;
      cursor: pointer;
      width: 244px;
      justify-content: center;

      @include button-desktop;

      }

    &-button:hover {
      background-color: #754F31;
      color: #FFE600;
      border: 2px solid  #754F31;
    }

    &-button:last-child {
      background: transparent;
      color: #FFE600;
      transition: all 0.2s linear;
    }

    &-button:last-child:hover {
      border: 2px solid  #754F31;
    }
  }
}

@media (width <=1024px) {
  .home {
    &__info {
      position: absolute;
      left: 48px;
    }
  }
}

@media (width <=768px) {
  .home {
    &__info {
      max-height: 272px;
      position: absolute;
      left: 32px;
      top: 368px;

      &-title {
        margin: 24px 0;

        @include h1-tablet;
      }

      &-link {
        margin-right: 24px;
      }

      &-actions {
        margin-top: 24px;
      }
    }
  }
}

@media (width <=390px) {
  .home {
    &__info {
      max-height: 312px;
      position: absolute;
      left: 16px;
      right: 16px;
      top: 300px;

      &-link {
        margin-right: 20px;

        @include overline-mobile;
      }

      &-title {
        margin: 20px 0;

        @include h1-mobile;

        color: #FEFEFE;
      }

      &-subtitle {
        @include body-mobile;

        color: #FEFEFE;
      }

      &-actions {
        margin-top: 20px;
        flex-direction: column;
        row-gap: 8px;
      }

      &-button {
        justify-content: center;
        width: 100%;

        @include button-mobile;
      }
    }
  }
}
