<div class="playlist__song__card">
  <div class="song__card__header" (click)="toggleMobileVisibility()" (keyup)="handleKeyUpEvent($event)" tabindex="0">
    <div class="song__card__img"></div>

    <div class="song__card__name__info">
      <div class="name__info__name">{{ song.title | slice: 0 : 40 }}</div>
      <div class="name__info__album">{{ song.fund | slice: 0 : 20 }}</div>
    </div>

    <div class="song__card__song__info">
      <div class="song__info__genre">{{  song.genres && song.genres.length > 0 ? song.genres[0] : 'Unknown' }}</div>
      <div class="song__info__location">
        {{ song.city ? song.city : 'Unknown' }},
        <!-- {{ song.ethnographic_district ? song.ethnographic_district : 'Unknown' }} -->
      </div>
    </div>

    <div
      class="song__card__btn btn-detail"
      *ngIf="isShowDetail; else routerButton"
      (click)="toggleVisibility()"
      (keyup)="handleKeyUpEvent($event)"
      tabindex="0"
    >
      {{ 'map.player.songs-list.song-card.detail-button' | translate }}
    </div>
    <ng-template #routerButton>
      <div class="song__card__btn btn-detail" [routerLink]="song.id + ''">
        {{ 'map.player.songs-list.song-card.detail-button' | translate }}
      </div>
    </ng-template>

    <div class="song__card__listen">
      <mat-icon *ngIf="!hasMedia" class="nomedia" aria-hidden="false" aria-label="Example home icon" fontIcon="music_off"></mat-icon>
      <button *ngIf="hasMedia" class="btn__listen" [disabled]="!hasMedia" (click)="openCurrentFile()">
        <svg
          *ngIf="!isPlay || !isSelectSong"
          class="listen__desktop"
          width="72"
          height="72"
          viewBox="0 0 72 72"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="./assets/sprites.svg#playDesktop"></use>
        </svg>
        <svg
          *ngIf="isPlay && isSelectSong"
          class="listen__desktop"
          width="72"
          height="72"
          viewBox="0 0 72 72"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="./assets/sprites.svg#pauseDesktop"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="song__card__detail" *ngIf="isOpened && isShowDetail">
    <div class="detail__video" style="background-image: url({{ staticVideoImgUrl }});"></div>

    <div class="detail__info">
      <div class="info__date__record">
        <div class="date__record__title">{{ 'map.player.songs-list.song-card.song-card-detail.record-date' | translate }}</div>
        <div class="date__record__date">01.06.2020</div>
      </div>

      <div class="info__collectors">
        <div class="collectors__title">{{ 'map.player.songs-list.song-card.song-card-detail.collectors' | translate }}</div>
        <div class="collectors__names">
          <ul class="names__names__list">
            <li class="names__list__item">{{ song.collectors }}</li>
          </ul>
        </div>
      </div>

      <div class="info__ethnographic__region">
        <div class="ethnographic__region__title">
          {{ 'map.player.songs-list.song-card.song-card-detail.ethnographic-region' | translate }}
        </div>
        <div class="ethnographic__region__region">{{ song.city }}</div>
      </div>
      <button class="info__btn__more__detail" [routerLink]="song.id + ''">
        {{ 'map.player.songs-list.song-card.song-card-detail.more-detail-button' | translate }}
      </button>
    </div>

    <div class="detail__song__text">
      <div class="song__text__content" *ngIf="song.song_text" [innerHTML]="song.song_text | formatText"></div>
      <div class="song__text__content" *ngIf="!song.song_text">No text available</div>
    </div>
  </div>
</div>
