<div class="playlist__song__card">
  <div
    class="song__card__header"
    [ngClass]="{ opened: isOpened }"
    (click)="toggleMobileVisibility()"
    (keyup)="handleKeyUpEvent($event)"
    tabindex="0"
  >
    <div class="song__card__img"></div>

    <div class="song__card__name__info">
      <div class="name__info__name" *ngIf="song.title">
        {{ song.title.length > 50 ? song.title.substring(0, 50) + '...' : song.title }}
      </div>
    </div>

    <div class="song__card__song__info">
      <div class="song__info__genre" *ngIf="song.genres">
        <span *ngFor="let genre of song.genres.slice(0, 2); let last = last">{{ genre }}{{ !last ? ', ' : '' }}</span>
      </div>
      <div class="song__info__location">
        {{ song.city ? song.city : '...' }}
      </div>
    </div>

    <div class="song__card__btn btn-detail" (click)="toggleVisibility()" (keyup)="handleKeyUpEvent($event)" tabindex="0">
      {{ 'map.player.songs-list.song-card.detail-button' | translate }}
    </div>
    <ng-template #routerButton>
      <div class="song__card__btn btn-detail" [routerLink]="song.id + ''">
        {{ 'map.player.songs-list.song-card.detail-button' | translate }}
      </div>
    </ng-template>

    <div class="song__card__listen">
      <mat-icon *ngIf="!hasMedia" class="nomedia" aria-hidden="false" aria-label="Example home icon" fontIcon="music_off"></mat-icon>
      <button *ngIf="hasMedia" class="btn__listen" [disabled]="!hasMedia" (click)="playPauseSong($event)" aria-label="button play">
        <svg
          *ngIf="!isPlay"
          class="listen__desktop"
          width="72"
          height="72"
          viewBox="0 0 72 72"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="./assets/sprites.svg#playDesktop"></use>
        </svg>
        <svg
          *ngIf="isPlay"
          class="listen__desktop"
          width="72"
          height="72"
          viewBox="0 0 72 72"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="./assets/sprites.svg#pauseDesktop"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
