@import '../../../../../../../typography/typography';
@import '../../../../../../../typography/fonts';
@import '../../../../../../../typography/buttons';
@import '../../../../../../../typography/colors';

.nomedia {
  font-size: 2em;
  width: 70px;
  height: 70px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}

.name__info__name {
  font-weight: 600;
}

.playlist__song__card {
  .song__card__header {
    position: relative;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 0.25fr 0.9fr 1.91fr 0.65fr 0.2fr;
    justify-items: start;
    align-items: center;
    grid-gap: 22px;
    box-shadow: 1px 4px 16px 8px rgba(15, 15, 15, 15%);

    @include body-desktop;

    .song__card__img {
      width: 72px;
      height: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 12px;
      background-image: url('../../../../../../../assets/img/player/play.png');
    }

    .song__card__song__info {
      display: grid;
      grid-template-columns: 0.81fr 1.16fr;
      min-width: 255px;
      width: 100%;
      gap: 16px;
    }

    .song__card__btn {
      @include secondary-button;

      color: var(--text-color-primary);
    }

    .song__card__listen {
      max-width: 72px;
      width: 100%;
      cursor: pointer;

      .btn__listen {
        border: 0;
        background: transparent;

        &:disabled {
          cursor: not-allowed;

          svg {
            opacity: 0.4;
          }
        }

        .listen__mobile {
          display: none;
        }
      }
    }

    &.active {
      background-color: var(--bg-color-screen);
      margin-bottom: 0;
    }
  }
}

.song__card__detail {
  opacity: 0;
  top: -100px;
  position: absolute;
  pointer-events: none;

  &.opened {
    pointer-events: auto;
    transition: all .2s ease-in-out;
    display: grid;
    grid-template-columns: 7.5fr 3.1fr 4fr;
    gap: 24px;
    top: -12px;
    position: relative;
    z-index: 1;
    padding: 17px 24px 24px;
    background-color: var(--bg-color-screen);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 10%) inset;
    margin-bottom: 12px;
    align-items: stretch;
    justify-content: space-between;
    opacity: 1;
  }

  .detail__video {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    cursor: pointer;
  }

  .detail__info {
    position: relative;
    padding-bottom: 49px;

    .info__date__record {
      margin-bottom: 24px;

      .date__record__title {
        @include caption-desktop;

        margin-bottom: 8px;
      }

      .date__record__date {
        @include body-desktop;
      }
    }

    .info__collectors {
      margin-bottom: 24px;

      .collectors__title {
        @include caption-desktop;

        margin-bottom: 8px;
      }

      .collectors__names {
        .names__names__list {
          @include body-desktop;

          .names__list__item {
            margin-bottom: 8px;
          }
        }
      }
    }

    .info__ethnographic__region {
      margin-bottom: 24px;

      .ethnographic__region__title {
        @include caption-desktop;

        margin-bottom: 8px;
      }

      .ethnographic__region__region {
        @include body-desktop;
      }
    }

    .info__btn__more__detail {
      @include button-desktop;

      position: absolute;
      bottom: 0;
      min-width: 177px;
      height: 49px;
      padding: 10px;
      text-align: center;
      margin-right: 114px;
      border-radius: 100px;
      background-color: transparent;
      border: 2px solid var(--text-color-accent);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        border: 2px solid var(--bg-color-footer);
      }
    }
  }

  .detail__song__text {
    position: relative;
    height: 365px;
    background-color: #fefefe;
    border-radius: 12px;
    padding: 24px 12px 0 24px;
    box-shadow: 0 2px 10px 0 rgba(15, 15, 15, 7%);

    .song__text__content {
      padding-right: 10px;
      height: 325px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #b7b7b7;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #ddd;
        border-radius: 10px;
      }

      p {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .playlist__song__card {
    .song__card__header {
      grid-template-columns: 0.15fr 0.7fr 0.8fr 0.6fr 0.2fr;

      .song__card__song__info {
        min-width: auto;
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .song__card__detail {
    grid-template-rows: auto auto;
    grid-template-columns: 7.7fr 3.1fr;

    .detail__video {
      height: 365px;
    }

    .detail__song__text {
      grid-column: span 1;
      max-width: 328px;
    }
  }
}

@media (max-width: 768px) {
  .playlist__song__card {
    .song__card__header {
      grid-template-columns: 0.2fr 1fr 0.75fr 0.55fr 0fr;
      grid-gap: 12px;

      .song__info__location {
        display: none;
      }
    }

    .song__card__detail {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .detail__video {
        width: 100%;
        height: 390px;
      }

      .detail__info {
        order: 2;
      }

      .detail__song__text {
        width: 327px;
      }
    }
  }
}

@media (max-width: 767px) {
  .song__card__detail {
    flex-wrap: wrap;
    padding: 24px;

    .detail__video {
      width: 100%;
      height: 390px;
    }

    .detail__info {
      width: 45%;
    }

    .detail__song__text {
      width: 47%;
    }
  }
}

@media (max-width: 630px) {
  .playlist__song__card {
    .song__card__header {
      grid-template-columns: 0.4fr 2.8fr 0.5fr;

      .song__card__img {
        width: 56px;
      }

      .song__card__song__info {
        display: none;
      }

      .song__card__btn {
        display: none;
      }
    }
  }

  .song__card__detail {
    flex-wrap: wrap;

    .detail__video {
      width: 100%;
      height: 230px;
    }

    .detail__info {
      width: 100%;
    }

    .detail__song__text {
      width: 100%;
    }
  }
}
