<ng-container *ngIf="project$ | async as project">
    <div class="container">
        <section class="project">
          <h1>{{project.title}}</h1>
          <p>{{ project.project_date | date: 'dd.MM.yyyy' }} • {{ project.location }}</p>
          <div class="project__flex">
              <div class="project__content">
                <app-content-text [content]="project.content"></app-content-text>
              </div>
              <div class="project__slider" *ngIf="projectsSlidesDesktop">
                <div class="project__slider-sticky">
                  <h2 class="project__slider-title">Актуальні проєкти</h2>
                  <div class="project__slider-page">
                    <div *ngFor="let slide of projectsSlidesDesktop" (click)="navigateTo(slide.id)" (keydown)="navigateTo(slide.id)" tabindex="0">
                      <app-about-slider [item]="slide"></app-about-slider>
                    </div>
                  </div>
                  <div class="project__slider-nav">
                    <a class="project__slider-next" href="/">
                      На головну
                      <svg class="project__slider-next-arrow" width="24" height="24">
                        <use xlink:href="./assets/sprites.svg#arrowArticleItem"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="project__box project__text">
                <h2 class="project__sub-title">{{ 'expeditions.article.about-article.title' | translate }}</h2>
                <div class="project__about">
                    <div class="project__about-box">
                        <h5 class="project__about-title">{{ 'expeditions.article.about-article.collectors' | translate }}:</h5>
                        <div class="project__about-text" *ngFor="let author of project.authors">
                            <p>{{ author }}</p>
                        </div>
                    </div>
                    <div class="project__about-box">
                        <h5 class="project__about-title">{{ 'expeditions.article.about-article.editor' | translate }}:</h5>
                        <div class="project__about-text" *ngFor="let editor of project.editors">
                            <p>{{ editor }}</p>
                        </div>
                    </div>
                    <div class="project__about-box">
                        <h5 class="project__about-title">{{ 'expeditions.article.about-article.video-editing' | translate }}:</h5>
                        <div class="project__about-text" *ngFor="let photographer of project.photographers">
                            <p>{{ photographer }}</p>
                        </div>
                    </div>
                    <div class="project__about-box">
                        <h5 class="project__about-title">{{ 'expeditions.article.about-article.record' | translate }}:</h5>
                        <div class="project__about-text" *ngFor="let recording of project.recording">
                            <p>{{ recording }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <app-share class="project__box"></app-share>
        </section>
    </div>
    <div class="project__slider-mobile">
        <ng-container *ngIf="projectsSlides.length">
            <app-slider [sliderItems]="projectsSlides" [title]="'home.home-actual.title'" [link]="'/project'"></app-slider>
        </ng-container>
    </div>
</ng-container>
