@import '../../../../typography/typography';
@import '../../../../typography/buttons';

.project {
  @include body-desktop;

  margin-top: 108px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    @include body-desktop($line-height: 28px, $font-size: 20px);

    width: 70%;
  }

  &__slider {
    position: relative;
    width: 330px;
    display: flex;
    flex-direction: column;


    &-title {
      @include h2-desktop;

      font-size: 23px;
      line-height: 21px;
      margin: 0 0 12px;
      place-self: flex-start flex-start;
    }

    &-sticky {
      width: 100%;
      position: sticky;
      top: 107px;
      box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 12%);
      padding: 14px 7px 14px 14px;
      border-radius: 14px;

    }

    &-page {
      height: calc(100vh - 202px);
      overflow-y: scroll;
      display: flex;
      padding: 3px 7px 3px 3px;
      flex-direction: column;
      gap: 14px;
      margin-bottom: 12px;
    }

    &-nav {
      display: flex;
      justify-content: flex-end;
    }

    &-next {
      @include text-button;

      text-align: right;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      gap: 8px;

      &-arrow {
        transform: rotate(45deg);
      }
    }

    &-mobile {
      background-color: var(--bg-color-screen);
      display: none;
    }
  }

  &__box {
    max-width: 954px;
  }

  &__title {
    @include h2-desktop;

    margin-bottom: 32px;
  }

  &__text {
    @include paragraph-desktop($color: $color-primary);

    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    font-size: 16px;

    &-title {
      color: var(--text-color-popup-menu);
      font-weight: 400;
      margin: 0;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }

  .project {
    &__slider {
      display: none;

      &-mobile {
        display: block;
      }
    }

    &__content {
      width: 100%;
    }

    &__img {
      height: 524px;
    }

    &__box {
      padding: 0;
    }

    &__sub {
      &-img {
        height: 524px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .project {
    &__img {
      height: 396px;
    }

    &__sub {
      &-img {
        height: 396px;
      }
    }
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }

  .project {
    margin-top: 96px;
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .project {
    padding: 32px 0;
    gap: 32px;

    &__img {
      height: 200px;
    }

    &__path {
      font-size: 14px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 16px;
      gap: 16px;
    }

    &__about {
      flex-wrap: wrap;

      &-title {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &__sub {
      &-img {
        height: 200px;
      }
    }
  }
}

@media (max-width: 421px) {
  .project {
    margin-top: 80px;
  }
}
