@import '../../../../typography/typography';

footer {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   background-color: var(--bg-color-footer);

   .footer {
      margin: 0 auto;
      padding: 80px 80px 32px;
      max-width: 1440px;
      min-height: 337px;

      &__block1 {
         margin-bottom: 16px;
         width: 100%;
         min-height: 96px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-start;

         .footer__logo {
            width: 24%;
            max-width: 302px;
            min-width: 294px;
            margin-right: 24px;
            height: initial;
            overflow: hidden;

            img {
               width: 102px;
               height: 96px;
            }
         }

         .footer__nav {
            margin-right: auto;
            height: auto;

            .nav__list {
               display: flex;
               flex-flow: row wrap;
               justify-content: flex-start;
               align-items: flex-start;

               .nav__item {
                  @include link-desktop($color: $color-secondary);

                  width: 30vw;
                  max-width: 194px;
                  min-width: initial;
                  margin-right: 24px;
                  margin-bottom: 32px;

                  &:hover {
                     color: var(--text-color-accent);
                  }

                  a.active {
                     color: var(--text-color-accent);
                     outline: none;
                  }
               }
            }
         }

         .footer__donate {
            button {
               width: 100%;
               max-width: 302px;
               min-width: 293px;
               height: 48px;
               background-color: var(--bg-color-accent);
               border-radius: 100px;
               border: 1px solid transparent;

               @include button-desktop;

               &:hover {
                  background-color: rgba(255, 240, 104, 100%);
               }
            }
         }
      }

      &__block2 {
         margin: 32px 0;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         align-items: center;

         .footer__partners {
            width: 24%;
            max-width: 302px;
            min-width: 294px;
            margin-right: 24px;

            img {
               width: 64px;
               height: 64px;
               margin-right: 32px;
            }
         }

         .footer__rules {
            min-height: 68px;
            margin-right: auto;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            .rules__legal {
               ul {
                  display: flex;
                  flex-flow: row wrap;

                  li {
                     @include caption-small-desktop($color: $color-secondary);

                     margin-bottom: 24px;
                     margin-right: 32px;
                     width: fit-content;

                     &:hover {
                        color: var(--text-color-primary);
                     }
                  }
               }
            }

            .rules__rights {
               width: fit-content;

               @include copyright-desktop($color: $color-extra-2);
            }
         }

         .footer__social {
            min-width: 128px;
            text-align: right;

            .sotial__item {
               margin-left: 24px;
            }
         }
      }
   }
}


@media (width <=1024px) {
   footer {
      .footer {
         margin: 0;
         padding: 80px 48px 32px;
         max-height: 537px;
         min-height: 517px;

         &__block1 {
            margin-bottom: 7px;
            min-height: 216px;

            .footer__logo {
               width: 34%;
               max-width: 293px;
               min-width: 219px;
            }

            .footer__nav {
               .nav__list {
                  flex-flow: column;

                  .nav__item {
                     width: initial;
                     min-width: initial;
                     margin-bottom: 24px;
                  }
               }
            }

            .footer__donate {
               width: 32%;
               text-align: right;

               button {
                  max-width: 293px;
                  min-width: 219px;
               }
            }

         }

         &__block2 {
            align-items: flex-start;

            .footer__partners {
               width: 34%;
               max-width: 293px;
               min-width: 219px;

               img {
                  margin-bottom: 17px;
               }
            }

            .footer__rules {
               min-height: none;

               .rules__legal {
                  ul {
                     display: flex;
                     flex-flow: column;
                  }
               }

               .rules__rights {
                  margin-top: 8px;
               }
            }
         }
      }
   }
}

@media (width <=768px) {
   footer {
      .footer {
         padding: 60px 32px 32px;
         height: initial;
         max-height: none;
         min-height: 357px;

         &__block1 {
            margin-bottom: 7px;
            min-height: 216px;
            flex-wrap: wrap;

            .footer__logo {
               max-width: 219px;
               min-width: 171px;
            }

            .footer__donate {
               min-width: 225px;

               button {
                  max-width: 219px;
                  min-width: 219px;

               }
            }

         }

         &__block2 {
            margin-bottom: 0;

            .footer__partners {
               max-width: 219px;
               min-width: 171px;

               img {
                  margin-bottom: 17px;
                  margin-right: 24px;
               }
            }
         }
      }
   }
}

@media (width <=672px) {
   footer {
      .footer {
         &__block1 {
            .footer__donate {
               min-width: 100%;
               text-align: center;

               button {
                  min-width: 100%;
               }
            }
         }
      }
   }
}

@media (width <=576px) {
   footer {
      .footer {
         padding: 60px 16px 28px;
         min-height: 617px;

         &__block1 {
            justify-content: space-between;

            .footer__logo {
               width: 48%;
               max-width: 171px;
               min-width: 100px;
               margin-right: 16px;
            }

            .footer__nav {
               .nav__list {
                  flex-flow: column wrap;

                  .nav__item {
                     margin-bottom: 16px;
                     margin-right: 0;
                  }
               }
            }

            .footer__donate {
               button {
                  margin-top: 6px;
                  margin-bottom: 19px;
               }
            }

         }

         &__block2 {
            margin-top: 32px;
            margin-bottom: 0;
            flex-flow: column;
            justify-content: flex-start;
            align-items: left;
            position: relative;

            .footer__partners {
               width: 100%;
               max-width: none;

               img {
                  margin-right: 16px;
                  margin-bottom: 20px;
               }
            }

            .footer__rules {
               height: 216px;
               width: 100%;

               .rules__legal {
                  ul {
                     width: 100%;
                     flex-flow: column;

                     li {
                        margin-bottom: 24px;
                     }
                  }
               }

               .rules__rights {
                  width: 100%;
                  text-align: center;
               }
            }

            .footer__social {
               text-align: left;
               position: absolute;
               left: 0;
               bottom: 44px;

               .sotial__item {
                  margin-left: 0;
                  margin-right: 23px;
               }

            }
         }
      }
   }
}
