@import '../../../../typography/typography';
@import '../../../../typography/fonts';
@import '../../../../typography/colors';
@import '../../../../typography/buttons';

footer.footer {
  padding: 80px 0 32px;
  background-image: url("https://raw.githubusercontent.com/shytuleva24/photos-in-1001songs/main/Rectangle%20337.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    max-width: 1280px;
    margin: 0 auto;

    .footer__top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 32px;
      border-bottom: 1px solid var(--text-color-extra-2);

      .footer__logo {
        min-width: 302px;

        .logo__img {
          width: 85px;
          height: 80px;
          filter: invert(1);
        }

        img {
          display: flex;
          align-items: center;
          max-width: 100%;
        }
      }

      .footer__nav {
        margin: 0 24px;

        .nav__list {
          display: flex;
          flex-wrap: wrap;
          row-gap: 32px;
          column-gap: 24px;

          .nav__item {
            min-width: 193px;

            a {
              @include link-desktop($color: $color-secondary);

              &:hover {
                color: var(--text-color-accent);
              }
            }
          }
        }
      }

      .footer__donate{
        button {
          @include primary-button;
        }
      }
    }

    .footer__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 32px 0;

      .footer__partners {
        min-width: 302px;

        .partners__title {
          @include link-desktop($color: $color-extra-2);

          margin-bottom: 24px;
        }

        .partners__items {
          display: flex;
          align-items: center;

         .partners__item {
           width: 64px;
           height: 64px;
           margin-right: 32px;

           &:last-child {
             margin-right: 0;
           }

           .partners__item {
             img {
               max-width: 100%;
             }
           }
         }
        }
      }

      .footer__rules {
        width: 100%;
        margin: 0 24px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: var(--text-color-extra-2);
        line-height: 16px;
        white-space: nowrap;

        ul {
          display: flex;
          gap: 16px;

          li {
            margin-bottom: 32px;

            &:last-child {
              margin-bottom: 0;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

     .footer__contacts {
       text-align: right;

       .contacts__title{
         font-family: "Open Sans", sans-serif;
         font-size: 12px;
         color: var(--text-color-extra-2);
         margin-bottom: 24px;
       }

       .contacts__email {
         margin-bottom: 32px;

         @include link-desktop($color: $color-secondary, $line-height: 23px);
       }

       .contacts__social {
         .social__item {
           display: inline-block;
           margin-right: 24px;
           transition: filter .2s ease;

           &:last-child {
             margin-right: 0;
           }

           &:hover {
             filter: grayscale(100%) invert(100%) contrast(200%);
           }
         }
       }
     }
    }

    .footer__rights {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      color: var(--text-color-extra-2);
      line-height: 10px;

      &.mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 1226px) {
  footer.footer {
    .container {
      .footer__top {
        .footer__logo {
          min-width: 293px;
        }

        .footer__nav {
          .nav__list {
            width: auto;

            .nav__item {
              min-width: 130px;

              &:nth-of-type(1){
                order: 1;
              }

              &:nth-of-type(2){
                order: 3;
              }

              &:nth-of-type(3){
                order: 5;
              }

              &:nth-of-type(4){
                order: 2;
              }

              &:nth-of-type(5){
                order: 4;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  footer.footer {
    padding: 60px 0 32px;

    .container {
      .footer__bottom {
        .footer__rules {
          ul {
            flex-direction: column;
            margin-bottom: 24px;

            li {
              width: 100%;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 1023px) {
  footer.footer {
    padding: 60px 0 32px;

    .container {
      .footer__top {
        .footer__logo {
          min-width: 219px;
        }

        .footer__nav {
          .nav__list {
            min-width: 218px;
            row-gap: 24px;

          }
        }

        .footer__donate {
          min-width: 219px;
        }
      }

      .footer__bottom {
        .footer__partners{
          min-width: 219px;

          .partners__items {
            flex-wrap: wrap;
            row-gap: 24px;

            .partners__item {
              margin-right: 24px;

              &:last-child {
                margin-right: 0;
              }

            }
          }
        }

        .footer__rules {
          ul {
            min-width: 218px;

            li {
              width: 100%;
              margin-bottom: 24px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .footer__contacts {
          min-width: 219px;

          .contacts__email {
            margin-bottom: 24px;
          }
        }
      }

      .footer__rights {
        line-height: 16px;

        &.desctop {
          display: none;
        }

        &.mobile {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  footer.footer {
    padding: 48px 0 28px;

    .container {
      .footer__top {
        padding-bottom: 28px;
        row-gap: 20px;
        flex-wrap: wrap;

        .footer__logo {
          min-width: 171px;
        }

        .footer__nav {
          margin: 0;

          .nav__list {
            min-width: 171px;
            row-gap: 16px;

            .nav__item {
              min-width: 100%;
            }
          }
        }

        .footer__donate {
          width: 100%;
        }
      }

      .footer__bottom {
        margin: 28px 0;
        flex-wrap: wrap;
        row-gap: 28px;

        .footer__partners{
          min-width: 100%;
          order: 1;

          .partners__title {
            margin-bottom: 16px;
          }

          .partners__items {
            flex-wrap: wrap;
            row-gap: 24px;

            .partners__item {
              margin-right: 24px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .footer__rules {
          order: 3;
          margin: 0;

          ul {
            min-width: 100%;

            li {
              width: 100%;
              margin-bottom: 16px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .footer__contacts {
          min-width: 100%;
          order: 2;

          .contacts__title {
            margin-bottom: 16px;
          }

          .contacts__email {
            margin-bottom: 24px;
          }
        }
      }

      .footer__rights {
        line-height: 16px;
      }
    }
  }
}

@media (max-width: 1440px) {
  footer.footer {
    .container {
      margin: 0 80px;
    }
  }
}


@media (max-width: 1024px) {
  footer.footer {
    .container {
      margin: 0 48px;
    }
  }
}

@media (max-width: 768px) {
  footer.footer {
    .container {
      margin: 0 32px;
    }
  }
}

@media (max-width: 675px) {
  footer.footer {
    .container {
      margin: 0 32px;
    }
  }
}

@media (max-width: 465px) {
  footer.footer {
    .container {
      margin: 0 16px;
    }
  }
}
