<footer class="footer" *ngIf="footerInfo$ | async as info">
  <div class="container">
    <section class="footer__top">
      <div class="footer__logo">
        <div>
          <a href="#">
            <svg class="logo__img">
              <use xlink:href="./assets/sprites.svg#logo"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__nav">
        <ul class="nav__list">
          <li class="nav__item" *ngFor="let link of navLinks">
            <a [routerLink]="link.route" routerLinkActive="active">{{ link.name | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="footer__donate">
        <button (click)="openDonationDialog()" aria-label="open Donation info">{{ 'footer.button' | translate }}</button>
      </div>
    </section>

    <section class="footer__bottom">
      <div class="footer__partners">
        <div class="partners__title">{{ 'footer.partners' | translate }}</div>
        <div class="partners__items" *ngIf="footerPartners$ | async as partners">
          <div class="partners__items-container">
            <app-partners [partners]="partners" [cardWidth]="64" [customOptions]="customOptions"></app-partners>
          </div>
        </div>
      </div>
      <div class="footer__rules">
        <ul>
          <li>
            <a [href]="info.reporting" target="_blank"> {{ 'footer.rules.reporting' | translate }} </a>
          </li>
          <li>
            <a [href]="info.privacy_policy" target="_blank"> {{ 'footer.rules.policy' | translate }} </a>
          </li>
          <li>
            <a [href]="info.rules_and_terms" target="_blank"> {{ 'footer.rules.terms' | translate }} </a>
          </li>
        </ul>
        <div class="footer__rights desctop">
          <span class="team" (click)="openPopupTeam()" (keydown)="openPopupTeam()" tabindex="0">Team</span>
          Baza Trainee Ukraine 2024 © Всі права захищені</div>
      </div>

      <div class="footer__contacts">
        <div class="contacts__email" target="_blank">
          <a href="mailto:{{ info.email }}"> {{ info.email }} </a>
        </div>

        <div class="contacts__social">
          <a *ngIf="info.facebook_url" [href]="info.facebook_url" class="social__item" target="_blank">
            <svg width="40" height="40" viewBox="0 0 40 40">
              <use xlink:href="./assets/sprites.svg#iconFb"></use>
            </svg>
          </a>
          <a *ngIf="info.youtube_url" [href]="info.youtube_url" class="social__item" target="_blank">
            <svg width="40" height="40" viewBox="0 0 40 40">
              <use xlink:href="./assets/sprites.svg#iconYouTube"></use>
            </svg>
          </a>
        </div>
      </div>
    </section>
    <div class="footer__rights mobile">
      <span class="team" (click)="openPopupTeam()" (keydown)="openPopupTeam()" tabindex="0">Team</span>
      Baza Trainee Ukraine 2024 © Всі права захищені</div>
  </div>
</footer>
