/* stylelint-disable */
@import '../../../../../../typography/typography';
@import '../../../../../../typography/buttons';

img {
  width: 100%;
  object-fit: cover;
}

.expeditions {
  background-color: var(--bg-color-screen);

  &__container {
    padding: 80px 0;
  }

  &__title {
    @include h2-desktop;

    margin-bottom: 48px;
  }

  &__videos {
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__main {
    width: 50%;

    &-video {
      cursor: pointer;
    }

    &-img {
      margin-bottom: 19px;
      border-radius: 16px;
      overflow: hidden;
      max-height: 384px;
      cursor: pointer;
    }

    &-date,
    &-location,
    &-btn {
      @include link-desktop;

      font-family: "Open Sans", sans-serif;
    }

    &-date,
    &-btn {
      font-weight: 600;
      cursor: pointer;
    }

    &-location {
      margin-bottom: 21px;
    }

    &-title {
      @include h4-desktop($line-height: 36px);

      margin: 6px 0 11px;
      cursor: pointer;
    }

    &-btn {
      @include primary-button;
    }
  }

  &__all {
    width: 50%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    cursor: pointer;



    &-video {
      display: flex;
      gap: 24px;
    }

    // eslint-disable-next-line no-use-before-define
    &-video:hover .expeditions__all-img::after,
    &-video:hover &-play {
      opacity: 1;
    }

    &-play {
      position: absolute;
      background-color: #fff;
      transition: opacity .3s ease;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      opacity: 0;
      z-index: 2;
      top: 50%;
      left: 54%;
      transform: translate(-50%, -50%);

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 6px solid transparent;
        border-left: 9px solid #000;
        border-bottom: 6px solid transparent;
      }
    }

    &-img {
      width: 48%;
      border-radius: 16px;
      overflow: hidden;
      vertical-align: bottom;
      max-height: 180px;
      position: relative;
      z-index: 0;

      &::after {
        transition: opacity .3s ease;
        position: absolute;
        pointer-events: none;
        content: "";
        top: 0;
        opacity: 0;
        left: 0;
        border-radius: 12px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255, 230, 0, 30%);
      }
    }

    &-date {
      @include caption-desktop;

      position: absolute;
      top: 0;
      right: 0;
      border-radius: 15px;
      z-index: 1;
      font-weight: bold;
      color: var(--text-color-extra-1);
      padding: 3px 15px;

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        border-radius: 0 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: var(--bg-color-yellow)
      }

      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--bg-color-screen);
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        border-radius: 0 0 0 12px;
      }
    }

    &-content {
      width: 48%;
    }

    &-location {
      @include link-desktop($font_size: 14px, $color: var(--text-color-extra-1), $line-height: 20px);

      font-family: "Open Sans", sans-serif;
    }

    &-description {
      @include link-desktop($font_size: 16px, $line-height: 24px);

      font-family: "Open Sans", sans-serif;
      margin-bottom: 7px;
    }

    &-title {
      @include h4-desktop($font_size: 24px, $line-height: 32px, $font-weight: $font-weight-semibolt);

      font-family: "Open Sans", sans-serif;
      margin: 6px 0 9px;
    }
  }

  &__router {
    display: flex;
    justify-content: flex-end;

    &-link {
      @include link-desktop($font_size: 16px, $line-height: 24px, $font-weight: $font-weight-semibolt);
      @include text-button;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    &-arrow {
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 1376px) {
  .container {
    margin: 0 48px;
  }
}

@media (max-width: 1166px) {
  .expeditions {
    &__videos {
      flex-wrap: wrap;
      margin-bottom: 73px;
    }

    &__main {
      width: 100%;
    }

    &__all {
      width: 100%;
      flex-direction: row;

      &-img {
        width: 100%;
        height: 180px;
      }

      &-content {
        width: 100%;
      }

      &-video {
        width: 33%;
        flex-direction: column
      }
    }
  }
}

@media (max-width: 790px) {
  .expeditions {
    &__videos {
      gap: 48px;
      margin-bottom: 30px;
    }

    &__container {
      padding: 60px 0;
      margin: 0 29px;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__main {
      &-img {
        height: 386px;
      }
    }

    &__all {
      flex-direction: column;

      &-video {
        width: 100%;
        flex-direction: row
      }

      &-content,
      &-img {
        width: 50%;
        height: 200px;
      }
    }
  }
}

@media (max-width: 500px) {
  .expeditions {
    &__container {
      padding: 48px 0;
      margin: 0 16px;
    }

    &__videos {
      gap: 30px;
      margin-bottom: 43px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 28px;
    }

    &__main {
      &-img {
        height: 200px;
        margin-bottom: 11px;
      }

      &-title {
        font-size: 24px;
        line-height: 32px;
        margin: 4px 0;
      }
    }

    &__all {
      gap: 30px;

      &-video {
        flex-direction: column;
        gap: 18px;
      }

      &-img {
        width: 100%;
      }

      &-content {
        width: 100%;
        height: auto;
      }

      &-title {
        font-size: 18px;
        line-height: 24px;
        margin: 5px 0 3px
      }

      &-description {
        margin-bottom: 4px;
      }
    }
  }
}
