<div class="container">
  <section class="songs">
    <div class="songs__path">
      <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    </div>
    <h1 class="songs__title">{{ genreData.title }}</h1>
    <div class="songs__description">
      <div class="songs__description-box">{{ genreData.description }}</div>
    </div>

    <div class="songs__carousel">
      <app-image-slider [images]="genreData.media" />
    </div>
    <h4 class="songs__title-sub">Фольклорні записи</h4>
    <div #playerContainer>
      <div class="songs__player" #fixedContainer [ngClass]="{ fix: isFixed }" [ngStyle]="{ 'top.px': isFixed ? heightHeader : '0' }">
        <p class="songs__player-title">{{ 'science.songs.player-title' | translate }}</p>

        <app-stereo-player #stereoPlayer [autoplay]="true" (isPlay)="handleIsPlayChange($event)" [song$]="playerSong$"></app-stereo-player>

      </div>
    </div>
    <div
      class="songs__playlist"
      *ngIf="songs$ | async as songs"
      [ngStyle]="{ 'margin-top.px': isFixed ? fixedContainer.clientHeight : '0' }"
    >
      <div class="songs__playlist-titles">
        <div class="titles title__photo">{{ 'map.player.songs-list.titles.photo' | translate }}</div>
        <div class="titles title__name">{{ 'map.player.songs-list.titles.name' | translate }}</div>
        <div class="titles title__record__info">
          <div class="record__info__genre">{{ 'map.player.songs-list.titles.genre' | translate }}</div>
          <div class="record__info__recording__location">{{ 'map.player.songs-list.titles.recording-location' | translate }}</div>
        </div>
        <div></div>
        <div class="titles title__listen">{{ 'map.player.songs-list.titles.listen' | translate }}</div>
      </div>
      <div *ngIf="selectedSong$ | async as selectSong">
        <div class="" *ngFor="let song of itemsOnCurrentPage">
          <app-playlist-song-card
            [song]="getcardSong(song)"
            (playPauseClicked)="onPlayPauseClicked($event)"
            [order$]="orderToCards$"
            (showDeatails)="onDeatailsShow($event)"
          ></app-playlist-song-card>
        </div>
      </div>
    </div>
    <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="changePage($event)"></app-pagination>
  </section>
</div>
