@import '../../../../../../../typography/typography';

.fix {
  position: fixed;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  p {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 100vw;
    height: calc(100% + 50px);
    z-index: -1;
    box-shadow: 0 8px 16px 8px rgba(15, 15, 15, 20%);
  }
}

.songs {
  @include body-desktop;

  .container {
    position: relative;
  }

  margin-top: 108px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;

  img {
    width: 100%;
  }

  &__title {
    @include h2-desktop;

    &-sub {
      @include h4-desktop($line-height: 36px);

      margin: 0;
    }
  }

  &__description {
    display: flex;
    gap: 24px;

    @include body-desktop($font-size: 20px, $line-height: 28px);

    &-box {
      column-count: 2;
      column-gap: 40px;
      white-space: pre-line;
    }
  }

  &__player {
    padding-top: 10px;

    &-title {
      margin-bottom: 16px;
    }
  }

  &__playlist {
    &-titles {
      display: grid;
      grid-template-columns: 0.25fr 0.9fr 1.91fr 0.65fr 0.2fr;
      align-items: center;
      justify-items: start;
      grid-gap: 16px;
      margin-bottom: 12px;
      padding: 0 12px;

      @include caption-desktop($color: var(--text-color-popup-menu));

      .titles {
        @include caption-desktop;

        width: 100%;
      }

      .title__photo {
        width: 72px;
      }
    }
  }

  .title__record__info {
    min-width: 255px;
    display: grid;
    grid-template-columns: 0.81fr 1.16fr;
    gap: 16px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }

  .songs {
    .titles {
      &.title__name {
        margin-right: 101px;
      }

      &.title__listen {
        min-width: 72px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }

  .songs {
    &__playlist {
      &-titles {
        grid-template-columns: 0.15fr 0.7fr 0.8fr 0.6fr 0.2fr;
      }
    }

    .title__record__info {
      min-width: auto;
      gap: 0;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .songs {
    &__description {
      &-box {
        column-count: 1;
      }
    }

    &__playlist {
      &-titles {
        display: none;
      }
    }
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }

  .songs {
    margin-top: 96px;
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .songs {
    padding: 32px 0;
    gap: 32px;

    &__title {
      font-size: 32px;
      line-height: 40px;

      &-sub {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}
