@import '../../../../typography/typography';

.error {
  position: relative;
  background: linear-gradient (13deg, rgba (176, 176, 176, 40%), rgba(176, 176, 176, 40%)), url("../../../../assets/img/home/Header-min.png") no-repeat top/cover, fixed;
  background-position-x: 30%;
  background-position-y: -63%;
  height: 100%;

  .container {
    padding: 0 10px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: calc (108px + 91px);
    padding-bottom: 191px;

  }

  &__block-title {
    margin-bottom: 48px;

    @include h1-desktop;

  }

  &__block-text {
    max-width: 846px;
    margin-bottom: 56px;

    @include h2-desktop;

    color: var(--text-color-secondary);
  }

  &__block-btn {
    padding: 12px 103.5px;
    width: 302px;
    border: 2px solid var(--text-color-accent);
    border-radius: 100px;
    background: transparent;
    text-align: center;

    @include button-desktop;

    color: var(--text-color-accent);
  }

  &__block-btn:hover {
    cursor: pointer;
    border: 2px solid var(--bg-color-footer);
  }
}

@media (width <= 2400px) {
  .error{
    height: 100%;
    background-position-y: 5%;
  }
}

@media (width <= 2200px) {
  .error{
    height: 100%;
    background-position-y: 10%;
  }
}

@media (width <= 1440px) {
  .error{
    height: 100%;
    background-position-y: -1100%;
  }
}

@media (width <= 1140px) {
  .error{
    height: 644px;

    &__block{
      padding-top: 202px;

      &-text{
        margin-bottom: 72px;
      }
    }
  }
}

@media (width <= 1024px) {
  .error{
    height: 100%;
    background-position-x: 0;

    &__block{
      padding-top: 202px;
      padding-bottom: 172px;
    }
  }
}

@media (width <= 768px) {
  .error{
    height: 100%;
    background-position-x: 35%;

    &__block{
      padding-top: 276px;
      padding-bottom: 96px;

      &-title{
        margin-bottom: 43px;

        @include h1-tablet;
      }

      &-text{
        margin-bottom: 97px;

        @include h4-desktop;

        color: var(--text-color-secondary);
        line-height: 36px;
      }
    }
  }
}

@media (width <= 500px) {
  .error {
    background-position: 50%;

    &__block{
      padding-top: 250px;

      &-title{
        margin-bottom: 59px;

        @include h1-mobile;

        color: var(--text-color-secondary);
      }

      &-text{
        margin-bottom: 99px;

        @include h5-mobile;

        color: var(--text-color-secondary);
      }

      &-btn{
        width: 358px;
      }
    }
  }
}

@media (width <= 390px) {
  .error {
    background-position-x: 47%;
  }
}
