<mat-card class="slider-card">
  <mat-card-content>
    <div class="slider__img">
      <img  [src]="item.preview_photo" alt="photo">
    </div>
    <div class="slider__container" style="cursor: pointer">
      <p class="slider__name" *ngIf="item.title">{{ item.title.length > 50 ? item.title.substring(0, 50) + '...' : item.title }}</p>
      <p class="slider__location" *ngIf="item.short_description">{{ item.short_description.length > 70 ? item.short_description.substring(0, 70) + '...' : item.short_description }}</p>
    </div>
  </mat-card-content>
</mat-card>
