:root {
  --bg-color-header: rgba(254, 254, 254, 40%);
  --bg-color-header-1: rgba(183, 183, 183, 100%);
  --bg-color-screen: rgba(255, 249, 239, 100%);
  --bg-color-accent: rgba(255, 230, 0, 100%);
  --bg-color-yellow: rgba(255, 240, 104, 100%);
  --bg-color-transparent-yellow: rgba(254, 254, 254, 10%);
  --bg-color-footer: rgba(117, 79, 49, 100%);
  --text-color-primary:  rgba(19, 19, 19, 100%);;
  --text-color-secondary: rgba(254, 254, 254, 100%);
  --text-color-accent: rgba(255, 230, 0, 100%);
  --text-color-yellow: rgba(255, 240, 104, 100%);
  --text-color-extra-1: rgba(69, 69, 69, 100%);
  --text-color-extra-2: rgba(221, 221, 221, 100%);
  --text-color-active: rgba(117, 79, 49, 100%);
  --text-color-popup-menu: rgba(102, 102, 102, 100%);
  --error-red: #eb180d;
}
