
@font-face {
   font-family: 'Yeseva One';
   src: url('../assets/fonts/YesevaOne/YesevaOne-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Open Sans';
   src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'Open Sans';
   src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
   font-weight: 600;
}

:root {
   --primary-font: 'Open Sans';
   --secondary-font: 'Yeseva One';
   --tertiary-font: 'Open Sans';
   --quaternary-font: 'Yeseva One', sans-serif;
}
