<div class="news__filter">
  <div class="news__filter-container" #slide>
    <div
      class="news__filter-item"
      tabindex="0"
      *ngFor="let category of categories; let i = index"
      (click)="filterArticles(i, category)"
      (keydown.enter)="filterArticles(i, category)"
      [class.news__filter-selected]="i === selectedFilterIndex"
      [style.transform]="'translateX(' + translateX + 'px)'"
      (touchend)="onTouchEnd()"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
    >
      {{ category | translate }}
    </div>
  </div>
</div>
