<section class="tapes">
  <div class="tapes__wrap">
    <div class="tapes__wrap-block">
      <div class="tapes__wrap-items">
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
      </div>
      <div class="tapes__wrap-items">
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
      </div>
    </div>
  </div>
</section>
<!--media 1940px -->
<section class="tapes xxl">
  <div class="tapes__wrap">
    <div class="tapes__wrap-block">
      <div class="tapes__wrap-items">
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
      </div>
      <div class="tapes__wrap-items">
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}</div>
        <div class="tapes__wrap-item"><img class="tapes__wrap-image" [src]="homeTape.arrowsTape" alt="arrows icon"></div>
        <div class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}</div>
      </div>
    </div>
  </div>
</section>
