<section class="tapes">
  <div class="tapes__wrap">
    <div class="tapes__wrap-block">
      <div class="tapes__wrap-items">
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}&nbsp;</span>
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}&nbsp;</span>
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}&nbsp;</span>
      </div>
      <div class="tapes__wrap-items">
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}&nbsp;</span>
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}&nbsp;</span>
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}&nbsp;</span>
      </div>
      <div class="tapes__wrap-items">
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}&nbsp;</span>
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.places' | translate }}&nbsp;</span>
        <span class="tapes__wrap-image"><img [src]="homeTape.arrowsTape" alt="arrows icon">&nbsp;</span>
        <span class="tapes__wrap-item">{{ 'tapes.tapes-wrap.knowUkraine' | translate }}&nbsp;</span>
      </div>
    </div>
  </div>
</section>

