.mdc {
  &-line{
    &-ripple {
      &::before,
      &::after {
        border: none !important;
      }
    }
  }

  &-text-field {
    padding: 0 !important;
    min-height: auto;
    border-radius: 12px !important;
  }

  &-list-item__primary-text {
    color: var(--text-color-primary) !important;
  }

  &-evolution {
    &-chip {
      &__action {
        padding: 0 !important;
      }

      &-set__chips {
        flex-direction: column !important;
        align-items: flex-start;
      }
    }
  }
}


.mat {
  &-mdc {
    &-form {
      &-field {
        &-subscript-wrapper {
          height: 0 !important;
        }

        &-infix {
          padding: 0 !important;
          min-height: auto;
          border-radius: 12px !important;
        }
      }
    }

    &-select-arrow,
    &-select-placeholder {
      color: var(--color-input) !important;
    }

    &-select-panel {
      margin-top: 4px;
      max-height: 150px !important;
      border-radius: 12px !important;
      background: #FEFEFE;
      box-shadow: 0 2px 10px 0 rgba(15, 15, 15, 7%) !important;

      &::-webkit-scrollbar {
        position: relative;
        width: 20px;
        border: 8px solid transparent;
        box-shadow: white;
        left: -100px;
        background-color: transparent;
        border-radius: 12px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 12px;
        background: var(--color-input);
        background-clip: content-box;
        border: 8px solid transparent;
      }
    }

    &-chip-remove {
      opacity: 1 !important;
    }
  }

  &-pseudo-checkbox {
    border-radius: 2px !important;
    border: 1px solid var(--color-input) !important;
    width: 12px !important;
    height: 12px !important;
    margin-right: 8px !important;

    &-checked {
      background: #FFF068 !important;
      box-shadow: inset 0 0 4px -1px rgba(117, 79, 49, 80%);

      &::after {
        width: 0 !important;
        height: 0 !important;
        color: var(--bg-color-yellow) !important;
      }
    }
  }
}

.multiselect {
  &__clear {
    .mat {
      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// eslint-disable-next-line no-use-before-define
.mat-content.mat-content-hide-toggle {
  margin: 0 !important;
}

.mat-content {
  gap: 16px;
}

// eslint-disable-next-line no-use-before-define
.mat-expansion-panel-header.mat-expanded {
  height: auto !important;
}

app-news {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  box-sizing: border-box !important;
  top: 0 !important;
  left: 50% !important;
  max-width: 1280px;
  pointer-events: none;
  width: calc(100% - 160px);
  height: 100%;
  margin: 0 !important;
  transform: translateX(-50%);
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom .gmnoprint {
  left: calc(100% - 40px) !important;
  top: calc(100% - 140px) !important;
  pointer-events: fill;
}

@media (max-width: 1024px) {
  .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    width: calc(100% - 96px) !important;
  }
}

@media (max-width: 768px) {
  .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    width: calc(100% - 64px) !important;
  }
}

@media (max-width: 465px) {
  .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    width: calc(100% - 32px) !important;
  }
}

/* stylelint-disable selector-class-pattern */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
  margin-top: 6px;
  border-radius: 12px !important;
  overflow: auto;
  box-shadow: 0 2px 10px 0 rgba(15, 15, 15, 7%) !important;

  .options {
    height: 100%;
    overflow-y: auto;
  }

  .mat-mdc-option {
    padding: 4px 12px;
    border-radius: 12px;
    transition: all 0.3s ease;
    min-height: 40px;

    &:hover {
      background-color: #FFF068;
    }
  }
}
