<div class="container">
  <section class="about">
    <div class="about__box">
      <h2 class="about__title">{{ 'about.title' | translate }}</h2>
    </div>
    <div>
      <div class="about__content" *ngIf="dataAboutContent$ | async as content">
        <app-content-text [content]="content.content"></app-content-text>
      </div>
      <div class="about__slider">

      </div>
    </div>
  </section>
</div>

<ng-container *ngIf="aboutTeam$ | async as team">
  <app-about-team [team]="team"></app-about-team>
</ng-container>

<ng-container class="about__slider-mobile" *ngIf="projectsSlides.length">
  <app-slider [sliderItems]="projectsSlides" [title]="'home.home-actual.title'" [link]="'/project'"></app-slider>
</ng-container>

