<div class="container">
  <section class="about">
    <div class="about__box">
      <h2 class="about__title">{{ 'about.title' | translate }}</h2>
    </div>
    <div class="about__content">
      <ng-container *ngFor="let text of content; let i = index">

        <ng-container *ngIf="Array.isArray(text); else elseBlock">
          <div [ngClass]="{'about__box': i !== 1}" class="about__carousel">
            <app-fade-in-carousel [photos]="text"></app-fade-in-carousel>
          </div>
        </ng-container>

        <ng-template #elseBlock>
          <div [ngClass]="{'about__box': i !== 1}"  [innerHTML]="text"></div>
        </ng-template>
      </ng-container>
    </div>
  </section>
</div>

<ng-container *ngIf="aboutTeam$ | async as team">
  <app-about-team [team]="team"></app-about-team>
</ng-container>

<div>
<!--  <app-slider [sliderItems]="sliderItems" [title]="'about.projects.title'"></app-slider>-->
</div>

