@import '/src/typography/typography';
@import '/src/typography/fonts';
@import '/src/typography/colors';


.content {
  margin-bottom: 16px;
}

.about {
  margin-top: 108px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__box {
    max-width: 954px;
  }

  &__slider {
    &-mobile {
      display: none;
    }
  }

  &__content {
    @include body-desktop($line-height: 28px, $font-size: 20px);

    .about__box {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__title {
    @include h2-desktop($line-height: 48px);
  }

  &__description {
    @include body-desktop($line-height: 28px, $font-size: 20px);
  }
}

@media (max-width: 1024px) {
  .about {
    &__slider {
      display: none;

      &-mobile {
        display: block;
      }
    }

    &__box {
      padding-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding: 60px 0;
    gap: 32px;

    &__content {
      gap: 32px;
    }
  }
}

@media (max-width: 390px) {
  .about {
    padding: 48px 0;
    gap: 24px;

    &__title {
      @include h2-mobile;
    }

    &__content {
      @include body-mobile;

      gap: 24px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }

  .about {
    margin-top: 96px;
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }
}
