@import '/src/typography/typography';
@import '/src/typography/fonts';
@import '/src/typography/colors';
@import '/src/typography/buttons';

.about {
  margin-top: 108px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__box {
    max-width: 954px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__slider {
    position: relative;
    width: 330px;
    display: flex;
    flex-direction: column;


    &-title {
      @include h2-desktop;

      font-size: 23px;
      line-height: 21px;
      margin: 0 0 12px;
      justify-self: flex-start;
      align-self: flex-start;
    }

    &-sticky {
      width: 100%;
      position: sticky;
      top: 107px;
      box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 12%);
      padding: 14px 7px 14px 14px;
      border-radius: 14px;

    }

    &-page {
      height: calc(100vh - 202px);
      overflow-y: scroll;
      display: flex;
      padding: 3px 7px 3px 3px;
      flex-direction: column;
      gap: 14px;
      margin-bottom: 12px;
    }

    &-nav {
      display: flex;
      justify-content: flex-end;
    }

    &-next {
      @include text-button;

      text-align: right;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      gap: 8px;

      &-arrow {
        transform: rotate(45deg);
      }
    }

    &-mobile {
      background-color: var(--bg-color-screen);
      display: none;
    }

  }

  &__content {
    @include body-desktop($line-height: 28px, $font-size: 20px);

    width: 70%;
  }

  &__title {
    @include h2-desktop($line-height: 48px);
  }

  &__description {
    @include body-desktop($line-height: 28px, $font-size: 20px);
  }
}

@media (max-width: 1024px) {
  .about {
    &__slider {
      display: none;

      &-mobile {
        display: block;
      }
    }

    &__content {
      width: 100%;
    }

    &__box {
      padding-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding: 60px 0;
    gap: 32px;

    &__content {
      gap: 32px;
    }
  }
}

@media (max-width: 390px) {
  .about {
    padding: 48px 0;
    gap: 24px;

    &__title {
      @include h2-mobile;
    }

    &__content {
      @include body-mobile;

      gap: 24px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }

  .about {
    margin-top: 96px;
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }
}
