@import '../../../../../typography/typography';
@import '../../../../../typography/fonts';

.selected {
  background: var(--text-color-accent);
}

.on {
  display: none !important;
}

.wrapper {
  padding: 0 48px 30px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: white;
  position: fixed;
  top: 0;
  z-index: 9999;

  &__header {
    padding-top: 18px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__link {
      outline: none;
    }
  }

  .header__logo {
    width: 68px;
    height: 64px;

    &:hover {
      cursor: pointer;
    }
  }

  .main {
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-top: 63px;
    height: calc(100% - 80px);

    .action {
      margin-bottom: 46px;

      &__search {
        width: 100%;
        position: relative;
      }
    }

    .lang {
      display: flex;

      &__item {
        width: 48px;
        height: 48px;
        border: 1px solid transparent;
        border-radius: 50%;
        text-align: center;
        margin-right: 31px;
        text-transform: uppercase;

        @include button-desktop($line-height: 48px);

        &:hover {
          background-color: var(--text-color-accent);
          cursor: pointer;
        }
      }
    }

    .nav {
      height: 82%;
      display: flex;
      overflow: clip auto;
      padding-bottom: 10px;
      justify-content: space-between;

      &__menu {
        width: 58.6%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .links {
          border-right: 1px solid var(--bg-color-header-1);

          &__list li {
            @include h2-mobile($font-size: 28px, $color: var(--text-color-popup-menu));

            margin-bottom: 29px;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              padding: 7px 0;
              position: relative;

              &::before,
              &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                right: 0;
                bottom: 0;
                background-color: var(--bg-color-accent);
                transition: width .2s linear;
              }

              &::after {
                left: 0;
              }

              &.active,
              &:hover {
                outline: none;
                color: var(--text-color-primary);

                &::before,
                &::after {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      .social {
        width: 31.6%;

        &__span {
          @include link-mobile($color: var(--text-color-popup-menu));

          padding: 4px 0;
          margin-bottom: 30px;
        }

        &__item {
          margin-bottom: 36px;
        }

        &__fb,
        &__inst,
        &__tg,
        &__copy {
          position: relative;
          padding-left: 40px;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 24px;
            height: 24px;
          }
        }

        &__inst {
          cursor: not-allowed;
          opacity: .6;

          &:hover {
            transform: scale(1);
          }
        }

        &__fb::before {
          background: url("../../../../../assets/img/header/logos_facebook.svg") no-repeat center/cover;
        }

        &__inst::before {
          background: url("../../../../../assets/img/header/skill-icons_instagram.svg") no-repeat center/cover;
        }

        &__tg::before {
          background: url("../../../../../assets/img/header/logos_telegram.svg") no-repeat center/cover;
        }

        &__copy::before {
          background: url("../../../../../assets/img/header/solar_copy-bold.svg") no-repeat center/cover;
        }
      }
    }
  }

  .networks {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;

    &__item {
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 31px 35px;

    .main {
      padding-top: 74px;
      margin-bottom: 0;

      .action {
        margin-bottom: 59px;
      }

      .lang {
        display: flex;

        &__item {
          width: 48px;
          height: 48px;
          border: 1px solid transparent;
          border-radius: 50%;
          text-align: center;
          margin-right: 33px;

          @include button-desktop($line-height: 48px);

          &:hover {
            background-color: var(--text-color-extra-2);
            cursor: pointer;
          }
        }
      }

      &__title {
        width: 100%;
      }

      .nav {
        height: 86.6%;

        .links {
          @include h2-mobile($font-size: 24px, $color: var(--text-color-popup-menu));

          margin-bottom: 28px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__menu {
          height: initial;
          padding-bottom: 16px;
        }

        .social {
          width: 31.2%;

          &__fb,
          &__inst,
          &__tg,
          &__copy {
            display: inline-block;
          }

          &__span {
            margin-bottom: 30px;
          }

          .networks {
            display: flex;
            flex-flow: row nowrap;

            &__item {
              margin-left: 10px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 463px) {
  .wrapper {
    padding: 0 16px 60px;

    &__header {
      padding-top: 4px;
    }

    .header__logo {
      width: 51px;
      height: 48px;
    }

    .main {
      padding-top: 31px;

      .action {
        margin-bottom: 49px;
      }

      .nav__menu {
        width: 100%;
      }

      .nav {
        flex-direction: column;
        justify-content: flex-start;

        .links {
          margin-bottom: 46px;
          border: none;

          li {
            @include h2-mobile($font-size: 24px, $line-height: 32px, $color: var(--text-color-popup-menu));

          }
        }

        .social {
          width: 100%;

          &__span {
            padding: 12px 0;
            margin-bottom: 22px;
          }

          &__list {
            display: flex;
            gap: 20px;
          }

          &__item {
            margin-bottom: 0;
          }

          &__fb,
          &__inst,
          &__tg,
          &__copy {
            text-indent: -999px;

            &::before {
              width: 32px;
              height: 32px;
            }
          }
        }
      }


      &__menu {
        width: 100%;
        border-bottom: 1px solid var(--bg-color-header-1);
      }


    }
  }

}

