@import '../../../../../typography/typography';
@import '../../../../../typography/fonts';

.selected {
   background: var(--text-color-accent);
}

.on {
   display: none !important;
}

.wrapper {
   padding: 0 48px 30px;
   width: 100vw;
   height: 100vh;
   overflow-y: auto;
   background: white;
   position: fixed;
   top: 0;
   z-index: 9999;

   &__header {
      padding-top: 10px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__link {
         outline: none;
      }
   }

   .header__logo {
      width: 51px;
      height: 48px;

      &:hover {
         cursor: pointer;
      }
   }

   .main {
      margin: 10px 0;
      flex-flow: column nowrap;
      justify-content: space-between;

      .lang {
         display: flex;

         &__item {
            width: 48px;
            height: 48px;
            border: 1px solid transparent;
            border-radius: 50%;
            text-align: center;
            margin-right: 20px;

            @include button-desktop($line-height: 48px);

            &:hover {
               background-color: var(--text-color-accent);
               cursor: pointer;
            }
         }
      }

      &__title {
         margin: 10px 0;
         width: 60%;

         h1 {
            margin: 0;
            text-align: left;
            font-family: var(--secondary-font);
            font-size: 32px;
            font-weight: 400;
         }
      }

      .nav {
         height: 100%;
         display: flex;
         justify-content: space-between;

         hr {
            display: inline-block;
            margin: 10px 0;
            padding: 0;
            width: 100%;
            height: 2px;
            background-color: var(--text-color-accent);
            border: none;
         }

         &__menu {
            width: 60%;

            span {
               @include body-desktop;
            }

            .links {
               &__list li {
                  @include h2-mobile($font-size: 24px, $color: var(--text-color-active));

                  .active {
                     color: var(--text-color-primary);
                     outline: none;
                  }

                  &:hover {
                     color: var(--text-color-primary);
                     cursor: pointer;
                  }
               }
            }
         }

         &__social {
            width: 35%;

            .networks {
               display: flex;
               flex-flow: row nowrap;

               &__item {
                  margin-left: 10px;

                  &:hover {
                     cursor: pointer;
                  }
               }
            }
         }
      }
   }

   .footer {
      margin-top: auto;
      display: flex;

      &__list {
         display: flex;
         flex-flow: row wrap;
      }

      &__item {
         margin-right: 32px;

         @include caption-small-desktop;
      }

      &__item--copiright {
         margin-left: auto;

         @include copyright-desktop;
      }
   }
}

@media (width <=768px) {
   .wrapper {
      padding-top: 10px;

      .main {
         .lang {
            display: flex;

            &__item {
               width: 48px;
               height: 48px;
               border: 1px solid transparent;
               border-radius: 50%;
               text-align: center;
               margin-right: 20px;

               @include button-desktop($line-height: 48px);

               &:hover {
                  background-color: var(--text-color-extra-2);
                  cursor: pointer;
               }
            }
         }

         &__title {
            width: 100%;
         }

         .nav {
            height: 100%;
            flex-direction: column;
            justify-content: space-between;

            hr {
               width: 100%;
            }

            &__menu {
               height: initial;
               width: 100%;
            }

            &__social {
               width: 100%;
               margin-top: 20px;
               margin-bottom: auto;

               .networks {
                  display: flex;
                  flex-flow: row nowrap;

                  &__item {
                     margin-left: 10px;

                     &:hover {
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }

      .footer {
         margin-top: auto;
         display: flex;

         &__list {
            display: flex;
            flex-flow: row wrap;
         }

         &__item {
            margin-right: 32px;

            @include caption-small-desktop;
         }

         &__item--copiright {
            margin-left: auto;

            @include copyright-desktop;
         }
      }
   }
}