<ng-container *ngIf="totalPages > 1">
    <ul class="pagination">
        <li><button
          aria-label="go to first page"
          class="pagination__first"
          (click)="goToPage(1)"
          (keydown)="goToPage(1)"
          tabindex="0"
          [class.disabled]="1 === currentPage"
          [attr.disabled]="1 === currentPage ? true : null"
        >
            <svg width="24" height="24" viewBox="-2 -4 24 24" style="transform: rotate(180deg)">
                <use xlink:href="./assets/sprites.svg#paginationFirstLast"></use>
            </svg>
        </button></li>
        <li><button
          aria-label="go to prev page"
          class="pagination__prev"
          [class.disabled]="1 === currentPage"
          (click)="goToPrevPage()"
          (keydown)="goToPrevPage()"
          tabindex="0"
          [attr.disabled]="1 === currentPage ? true : null"
        >
            <svg width="24" height="24" viewBox="-2 -4 24 24" style="transform: rotate(180deg)">
                <use xlink:href="./assets/sprites.svg#paginationPrevNext"></use>
            </svg>
        </button></li>
        <li *ngIf="currentPage === totalPages && totalPages > maxVisiblePages" >
            <button aria-label="go to first page" (click)="goToPage(1)" (keydown)="goToPage(1)" tabindex="0">{{ 1 }}</button>
        </li>
        <li *ngFor="let page of getPagesToShow()" >
            <button aria-label="go to page" [class.active]="page === currentPage" (click)="goToPage(page)" (keydown)="goToPage(page)" tabindex="0" *ngIf="page !== 0">{{ page }}</button>
            <button aria-label="pagination skip" class="pagination__skip" *ngIf="page === 0">...</button>
        </li>
        <li *ngIf="currentPage === 1 && totalPages > maxVisiblePages" >
            <button (click)="goToPage(totalPages)" (keydown)="goToPage(totalPages)" tabindex="0" aria-label="go to first page">{{ totalPages }}</button>
        </li>
        <li><button
          aria-label="go to next page"
          class="pagination__next"
          [class.disabled]="pages.length === currentPage"
          (click)="goToNextPage()"
          (keydown)="goToNextPage()"
          tabindex="0"
          [attr.disabled]="pages.length === currentPage ? true : null"
        >
            <svg width="24" height="24" viewBox="-2 -4 24 24" style="transform: rotate(180deg)">
                <use xlink:href="./assets/sprites.svg#paginationPrevNext"></use>
            </svg>
        </button></li>
        <li><button
          aria-label="go to page"
          class="pagination__last"
          (click)="goToPage(pages.length)"
          (keydown)="goToPage(pages.length)"
          tabindex="0"
          [class.disabled]="pages.length === currentPage"
          [attr.disabled]="pages.length === currentPage ? true : null"
        >
            <svg width="24" height="24" viewBox="-2 -4 24 24" style="transform: rotate(180deg)">
                <use xlink:href="./assets/sprites.svg#paginationFirstLast"></use>
            </svg>
        </button></li>
    </ul>
</ng-container>

