.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  height: 100%;

  img {
    object-fit: contain;
    width: 100%;

    &:hover {
      filter: invert(1);
    }
  }

  a {
    width: 64px;
    display: inline-block;
    height: 64px;
  }
}

.about-partners {
  a {
    width: 200px;
    display: inline-block;
    height: 200px;
  }
}

@media (max-width: 465px) {
  .about-partners {
    a {
      width: 100%;
      display: inline-block;
      height: 300px;
    }

    img {
      height: 100% !important;
    }
  }
}
