<mat-form-field class="search__box">
  <input
    class="search__input"
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
    placeholder="{{ name | translate }}"
  />
  <mat-autocomplete
    class="multiselect"
    #auto="matAutocomplete"
    [displayWith]="getSongTitle"
    (optionSelected)="onSongSelected($event.option.value)"
  >
    <div class="options">
      <mat-option *ngFor="let option of options " [value]="option">
        {{ option.title }}
      </mat-option>
    </div>
  </mat-autocomplete>
</mat-form-field>
