/* stylelint-disable */
::ng-deep iframe {
  height: 360px;
}

.player {
  height: 100%;
  overflow: hidden;
  position: relative;

  &__control {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    border-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 2px;
    font-size: 0.8rem;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(70%);
  }
}

@media (max-width: 465px) {
  .player {
    &__control {
      width: 48px !important;
      height: 48px !important;
    }
  }
}
