.player {
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;

  &__control {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    border-style: none;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    padding-left: 2px;
    font-size: 0.8rem;
  }

  img {
    position: absolute;
    width: 302px;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    filter: sepia(70%);
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}
