@import '/src/typography/typography';

$radius: 15px;
$link-x-padding: 24px;
$width-desktop-1: 410px;
$width-desktop-2: 293px;
$width-tablet: 323px;
$width-mobile: 354px;

.card {
  display: inline-block;
  width: $width-desktop-1;
  height: 281px;
  position: relative;
  border-radius: $radius;
  overflow: hidden;

  .link {
    @include link-desktop($font-size: 24px);

    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    text-align: left;
    align-items: flex-end;
    padding: 0 $link-x-padding 0 $link-x-padding;
    top: 207px;
    width: 100%;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0%), rgba(0, 0, 0, 80%));
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    cursor: pointer;

    span {
      width: 20px;
      height: 24px;
    }
  }

  img {
    height: 100%;
  }
}

@media (width < 1025px) {
  .card {
    width: $width-desktop-2;
    height: 200px;

    .link {
      top: 105px;
      width: $width-desktop-2;
      height: 100px;
    }

    img {
      width: $width-desktop-2;
    }
  }
}


@media (width < 769px) {
  .card {
    width: $width-tablet;
    height: 200px;

    .link {
      top: 105px;
      width: $width-tablet;
      height: 100px;
    }

    img {
      width: $width-tablet;
    }
  }
}

@media (width < 391px) {
  .card {
    width: $width-mobile;
    height: 200px;

    .link {
      top: 105px;
      width: $width-mobile;
      height: 100px;
    }

    img {
      width: $width-mobile;
    }
  }
}