<div class="container">
  <div class="expeditions">
    <h2 class="expeditions__title">{{ 'expeditions.title' | translate }}</h2>
    <p class="expeditions__description">
      {{ 'expeditions.intro' | translate }}
    </p>
    <div>
      <ul class="expeditions__categories">
        <li
          *ngFor="let category of categories; let i = index"
          tabindex="0"
          role="button"
          (click)="selectCategory(i)"
          (keypress)="selectCategory(i)"
        >
          <a [class.expeditions__selected-category]="i === selectedCategory"> {{ category | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="expeditions__gallery" *ngIf="$expeditions | async as expeditions">
      <div *ngFor="let event of expeditions" class="expeditions__gallery__item">
        <app-expedition-card [event]="event"></app-expedition-card>
      </div>
    </div>
  </div>
</div>
