@import '../../../../typography/typography';

.container {
  display: flex;
  margin: 148px auto 80px;
  max-width: 1440px;
}

.expeditions {
  width: 100%;
  margin-right: 80px;
  margin-left: 80px;

  &__title {
    @include h2-desktop($line-height: 65px);
  }

  &__description {
    @include body-desktop;

    width: 628px;
    padding-top: 5px;
  }

  &__categories {
    padding: 48px 0;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__selected-category {
    font-weight: 600;
  }
}

@media (width <= 1025px) {
  .container {
    margin-top: 148px;
    margin-bottom: 80px;
  }

  .expeditions {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media (width <= 769px) {
  .container {
    margin-top: 130px;
    margin-bottom: 80px;
  }

  .expeditions {
    margin-right: 32px;
    margin-left: 32px;
    width: 100%;
    overflow: hidden;

    &__title {
      @include h2-desktop($line-height: 35px);
    }

    &__description {
      width: 100%;
    }

    &__categories {
      padding: 32px 0;
    }

    &__gallery {
      gap: 24px;
    }
  }
}

@media (width <= 391px) {
  .container {
    width: 358px;
    margin-top: 105px;
    margin-bottom: 48px;
  }

  .expeditions {
    overflow: visible;
    margin: 0 auto;

    &__title {
      @include h2-mobile($line-height: 35px);
    }

    &__categories {
      padding: 28px 0;
    }

    &__gallery {
      gap: 16px;
    }
  }
}
