@import '../../../../typography/typography';

section {
  margin: 148px auto 80px;
  max-width: 1440px;
}

.expeditions {
  margin-right: 80px;
  margin-left: 80px;

  h2 {
    min-height: 33px;
  }

  &-cards {
    min-height: 305px;
  }

  &__title {
    @include h2-desktop($line-height: 65px);
  }

  &__description {
    @include body-desktop;

    width: 628px;
    padding-top: 5px;
  }

  &__categories {
    margin-left: 80px;
    padding: 28px 0;
  }

  &__box {
    min-height: 300px;
    transition: height 1s ease;
    margin-bottom: 24px;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    &-item {
      width: calc(25% - 18px);
    }
  }

  &__selected-category {
    font-weight: 600;
  }
}

@media (max-width: 1346px) {
  .expeditions {
    &__gallery {
      &-item {
        width: calc(33.3% - 16px);
      }
    }
  }
}

@media (max-width: 1025px) {
  section {
    margin-top: 148px;
    margin-bottom: 80px;
  }

  .expeditions {
    margin-right: 48px;
    margin-left: 48px;

    &__categories {
      margin-left: 48px;
    }
  }
}

@media (max-width: 981px) {
  .expeditions {
    &__gallery {
      &-item {
        width: calc(50% - 12px);
      }
    }
  }
}

@media (max-width: 769px) {
  section {
    margin-top: 130px;
    margin-bottom: 80px;
  }

  .expeditions {
    margin-right: 32px;
    margin-left: 32px;
    overflow: hidden;

    &__categories {
      margin-left: 32px;
      padding: 32px 0;
    }

    &__title {
      @include h2-desktop($line-height: 35px);
    }

    &__description {
      width: 100%;
    }

    &__gallery {
      gap: 24px;
    }
  }
}

@media (max-width: 645px) {
  .expeditions {
    &__gallery {
      &-item {
        width: 100%;
      }
    }
  }
}


@media (max-width: 391px) {
  section {
    margin-top: 105px;
    margin-bottom: 48px;
  }

  .expeditions {
    overflow: visible;
    margin: 0 16px;

    &__categories {
      padding: 28px 0;
      margin-left: 16px;
    }

    &__title {
      @include h2-mobile($line-height: 35px);
    }

    &__gallery {
      gap: 16px;
    }
  }
}
