<section *ngIf="expeditionCategories$ | async as data">
  <div class="expeditions">
    <ng-container *ngIf="searchValue; else noSearchResults">
      <ng-container *ngIf="expeditionResponse$ | async as expedition; else preloader">
        <h2 *ngIf="expedition.total; else noResult">
          Результати пошуку: {{ expedition.total }} {{ expedition.total === 1 ? 'експедиція' : expedition.total <= 4 ? 'експедиції' : 'експедицій' }}
        </h2>
      </ng-container>
      <ng-template #noResult>
        <h2>За вашим запитом експедицій не знайдено</h2>
      </ng-template>
      <ng-template #preloader>
        <h2>Завантаження...</h2>
      </ng-template>
    </ng-container>
    <ng-template #noSearchResults>
      <h2  class="expeditions__title">{{ data.title }}</h2>
      <p class="expeditions__description">
        {{ data.description }}
      </p>
    </ng-template>
  </div>
  <div class="expeditions__categories">
    <app-filter [selectedFilterId]="idParamsCategory" [categories]="data.categories" (filteredCategories)="filteredCategory($event)" />
  </div>
  <div class="expeditions" *ngIf="expeditionResponse$ | async as expedition">
    <div class="expeditions__box">
        <ng-container *ngIf="expedition.items.length; else noResult">
           <div class="expeditions__gallery" >
            <div *ngFor="let event of expedition.items" class="expeditions__gallery-item">
              <app-expedition-card [routerLink]="event.id + ''" [event]="event"></app-expedition-card>
            </div>
          </div>
        </ng-container>

        <ng-template #noResult>
          <div class="no-result">
            <span>Овва! Схоже, в данній категорії наразі відсутні експедиції</span>
          </div>
        </ng-template>
    </div>
    <app-pagination
      [totalPages]="expedition.pages"
      [currentPage]="currentPage"
      (pageChange)="changePage($event)"
    ></app-pagination>
  </div>
</section>
