<div class="container" >
  <div class="expeditions">
    <h2 class="expeditions__title">{{ 'expeditions.title' | translate }}</h2>
    <p class="expeditions__description">
      {{ 'expeditions.intro' | translate }}
    </p>
    <div class="expeditions__categories" *ngIf="expeditionCategories$ | async as categories">
      <app-filter [categories]="categories" (filteredCategories)="filteredCategory($event)" />
    </div>
    <div class="expeditions__box">
      <div class="expeditions__gallery" *ngIf="expeditionResponse$ | async as expedition">
        <div *ngFor="let event of expedition.items" class="expeditions__gallery__item">
          <app-expedition-card [event]="event"></app-expedition-card>
        </div>
      </div>
    </div>
    <app-pagination
            [totalPages]="totalPage"
            [currentPage]="currentPage"
            (pageChange)="changePage($event)"
    ></app-pagination>
  </div>
</div>
