.share {
  display: flex;
  align-items: center;
  gap: 24px;

  &__container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-title {
    color: var(--text-color-popup-menu);
    font-weight: 400;
  }

  &-link {
    padding: 8px;
    background-color: transparent;
    border: 1px solid var(--text-color-popup-menu);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__inst {
    cursor: not-allowed;
    opacity: .6;

    &:hover {
      transform: scale(1);
    }
  }
}

@media (width <=667px) {
  .song {
    justify-content: space-between;
  }
}
