<section class="news">
  <div class="container news__container" *ngIf="articles">
    <h2 class="news__title">{{'home.home-news.title' | translate}}</h2>
    <div class="news__items">
      <div class="news__all">
        <ng-container *ngFor="let item of articles">
          <a
            class="news__all-item"
            *ngIf="item"
            (click)="redirectToNews(item.id)"
            (keydown)="redirectToNews(item.id)"
            tabindex="0"
          >
            <span class="news__all-link"></span>
            <p class="news__all-date">{{ item.date }}</p>
            <h4 class="news__all-title">{{ item.news_title }}</h4>
            <p class="news__all-location">{{ item.location }}</p>
          </a>
        </ng-container>
      </div>
      <div class="news__main" *ngIf="mainArticle">
        <a class="news__main-item" (click)="redirectToNews(mainArticle.id)" (keydown)="redirectToNews(mainArticle.id)" tabindex="0">
          <img class="news__main-img" [src]="mainArticle.photo_1" alt="{{ mainArticle.news_title }}">
          <div class="news__main-info">
            <p class="news__main-date">{{ mainArticle.date }}</p>
            <h4 class="news__main-title">{{ mainArticle.news_title }}</h4>
            <p class="news__main-location">{{ mainArticle.location }}</p>
          </div>
        </a>
      </div>
    </div>
    <div class="news__router">
      <a
        class="news__router-link"
        [routerLink]="'/news'"
      >{{'home.home-news.router-link' | translate}}</a>
    </div>
  </div>
</section>
