@use '/src/typography/typography' as *;

.news {
  flex-grow: 1;
  display: flex;

  &__container {
    width: 1280px;
    min-height: 100%;
    flex-grow: 1;
    display: flex;
    margin: 0 auto;
    padding-top: 148px;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &__box {
    min-height: 550px;
  }

  &__title {
    @include h2-mobile($font-size: 40px);

    line-height: 65px;
    padding-bottom: 19px;
  }
}

.filter__wrap {
  margin-bottom: 16px;
}

@media (max-width: 1440px) {
  .news__container {
    padding-bottom: 39px;
    width: auto;
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .news__container {
    max-width: 90.5%;
    padding-top: 178px;
    padding-bottom: 47px;
    margin: 0 auto;
  }
}

@media (max-width: 863px) {
  .news__container {
    padding-top: 160px;
    max-width: 88.5%;
  }

}

@media (max-width: 768px) {
  .news__container {
    padding-bottom: 25px;
  }

}

@media (max-width: 465px) {
  .news {
    &__container {
      padding-top: 128px;
      max-width: 91.8%;
      padding-bottom: 51px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 17px;
    }
  }
}
