<section class="news wrapper">
  <div class="news__container">
    <div class="news__box">
      <div class="news__title">
        {{ 'news.title' | translate }}
      </div>

      <div class="filter__wrap" *ngIf="categories$ | async as categories">
        <app-filter [categories]="categories" (filteredCategories)="filteredCategory($event)" />
      </div>
      <ng-container *ngIf="newsResponse$ | async as response">
        <ng-container *ngIf="response.items; else noResult">
          <div class="cards__wrap">
            <app-article-item
              *ngFor="let item of response.items"
              [article]="item"
            />
          </div>
        </ng-container>
        <ng-template #noResult>
          <div class="no-result">
            <span>Овва! Схоже, в данній категорії наразі відсутні новини</span>
          </div>
        </ng-template>
        <app-pagination
          [totalPages]="response.pages"
          [currentPage]="currentPage"
          (pageChange)="changePage($event)"
        ></app-pagination>
      </ng-container>
    </div>
  </div>
</section>
