<ng-container *ngIf="article$ | async as article">
  <div class="container">
    <section class="article" *ngIf="article.id">
      <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

      <h1 class="article__title">{{ article.title }}</h1>
      <p class="article__date">{{ article.created_at | date: 'dd.MM.yyyy' }} • {{ article.location }}</p>

      <h1 class="article__title">{{ article.title }}</h1>
      <p class="article__date">{{ article.created_at | date: 'dd.MM.yyyy' }} • {{ article.location }}</p>

      <div class="article__box">
        <img *ngIf="article.preview_photo" class="article__img" [src]="article.preview_photo" [alt]="article.title" />

        <div class="article__content">
          <app-content-text [content]="article.content"></app-content-text>
        </div>
      </div>

      <div class="article__box">
        <h2 class="article__sub-title">{{ 'news.article.about-article.title' | translate }}</h2>
        <div class="article__about">
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'news.article.about-article.author' | translate }}:</h5>
            <p class="article__about-text" *ngFor="let author of article.authors">
              {{author}}
            </p>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'news.article.about-article.editor' | translate }}:</h5>
            <p class="article__about-text" *ngFor="let editor of article.editors">
              {{editor}}
            </p>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'news.article.about-article.photos' | translate }}:</h5>
            <p class="article__about-text" *ngFor="let photographer of article.photographers">
              {{photographer}}
            </p>
          </div>
        </div>
      </div>
      <app-share class="article__box"></app-share>
    </section>
  </div>

  <div *ngIf="sliderItems.length" class="article__slider">
    <app-slider [sliderItems]="sliderItems" [title]="'news.article.latest-news'" [link]="'/news'"></app-slider>
  </div>
</ng-container>
