@import '../../../../../../typography/typography';

.article {
  margin-top: 108px;
  padding: 80px 0;

  .content {
    width: 100%;
    padding-bottom: 18px;
  }

  &__flex {
    display: flex;
    gap: 28px;
    justify-content: space-between;
  }

  &__sticky {
    position: sticky;
    top: 120px;
  }

  &__slider {
    background-color: var(--bg-color-screen);
    display: none;

    &-desktop {
      padding: 20px 14px;
      position: relative;
      background-color: var(--bg-color-screen);
      box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 12%);
      border-radius: 14px;
      width: 30%;
    }
  }

  &__date {
    padding-bottom: 32px;
  }

  @include body-desktop;


  &__img {
    height: 500px;
    object-fit: cover;
    vertical-align: bottom;
    margin-bottom: 18px;
  }

  &__path {
    a,
    span {
      @include body-desktop;
    }
  }

  &__box {
    max-width: 954px;
    margin-bottom: 48px;
  }

  &__title {
    @include h2-desktop;

    padding-top: 30px;
    margin-bottom: 32px;
  }

  &__text {
    @include paragraph-desktop($color: $color-primary);

    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__sub {
    &-img {
      height: 476px;
      object-fit: cover;
    }

    &-title {
      @include h4-mobile;

      margin-bottom: 32px;
    }
  }

  &__about {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    &-title {
      color: var(--text-color-popup-menu);
      font-weight: 400;
      margin: 0;
      padding-bottom: 8px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }

  .article {
    &__slider {
      display: block;

      &-desktop {
        display: none;
      }
    }

    &__img {
      height: 524px;
    }

    &__box {
      padding: 0;
    }

    &__sub {
      &-img {
        height: 524px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .article {
    &__img {
      height: 396px;
    }

    &__sub {
      &-img {
        height: 396px;
      }
    }
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }

  .article {
    margin-top: 96px;
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .article {
    padding: 32px 0;
    gap: 32px;

    &__img {
      height: 200px;
    }

    &__path {
      font-size: 14px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 16px;
      gap: 16px;
    }

    &__about {
      flex-wrap: wrap;

      &-title {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &__sub {
      &-img {
        height: 200px;
      }
    }
  }
}

@media (max-width: 421px) {
  .article {
    margin-top: 80px;
  }
}
