<ng-container *ngIf="selectedArticle$ | async as article">
  <div class="container">
    <section class="article" *ngIf="article.id">
      <app-breadcrumbs></app-breadcrumbs>

      <div class="article__box">
        <h1 class="article__title">{{ article.news_title }}</h1>
        <p class="article__date">{{ article.date }} • {{ article.location }}</p>
      </div>
      <img *ngIf="article.photo_1" class="article__img" [src]="article.photo_1" [alt]="article.news_title" />
      <div *ngIf="article.text_1" class="article__box article__text" [innerHTML]="article.text_1 | formatText"></div>
      <div class="article__box">
        <img *ngIf="article.photo_2" class="article__sub-img" [src]="article.photo_2" [alt]="article.news_title" />
      </div>
      <div class="article__box article__text" [innerHTML]="article.text_2 | formatText"></div>
      <div class="article__box">
        <h2 class="article__sub-title">{{ 'news.article.about-article.title' | translate }}</h2>
        <div class="article__about">
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'news.article.about-article.author' | translate }}:</h5>
            <div class="article__about-text" [innerHTML]="replaceCommaWithBr(article.author)"></div>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'news.article.about-article.editor' | translate }}:</h5>
            <div class="article__about-text" [innerHTML]="replaceCommaWithBr(article.editor)"></div>
          </div>
          <div class="article__about-box">
            <h5 class="article__about-title">{{ 'news.article.about-article.photos' | translate }}:</h5>
            <div class="article__about-text" [innerHTML]="replaceCommaWithBr(article.svitliny)"></div>
          </div>
        </div>
      </div>
      <app-share class="article__box"></app-share>
    </section>
  </div>

  <div *ngIf="sliderItems" class="article__slider">
    <app-slider [sliderItems]="sliderItems" [title]="'news.article.latest-news'" [link]="'/news'"></app-slider>
  </div>
</ng-container>
