@import '../../../../../typography/typography';

// eslint-disable-next-line no-use-before-define
.mat-expansion-panel {
  border: 1px solid rgba(0, 0, 0, 60%);
  border-radius: 7px;

  &-header {
    height: 64px;

    &-description {
      display: flex;
      justify-content: flex-end;
      margin-right: 0;
      flex-grow: initial;
    }

    &-title {
      @include h5-desktop($font-size: 24px);

      height: 50px;
      overflow: hidden;
      text-wrap: nowrap;
    }
  }
}

ul {
  list-style: initial;
}

li {
  margin-left: 40px;
}

.lit-link {
  @include h6-desktop($font-family: 'Open sans');
}

.link {
  margin-left: -40px;
}
