@import '../../../../../../typography/typography';

@media (max-width: 1376px) {
  .container {
    margin: 0 48px;
  }
}

@media (max-width: 790px) {
  .actual {
    &__container {
      margin: 0 32px;
    }
  }
}

@media (max-width: 500px) {
  .actual {
    &__container {
      margin: 0 16px;
    }
  }
}
