@import '/src/typography/typography';

.member {
  width: 100%;

  &__photo {
    width: 100%;
    height: 560px;
    border-radius: 12px;
    object-fit: cover;
  }

  &__name {
    @include h5-desktop($font_size: 24px, $line-height: 32px);

    margin: 8px auto 0;
  }

  &__descr {
    @include body-desktop;

    margin-top: 8px;
  }
}

@media (max-width: 1024px) {
  .member {
    &__photo {
      height: 401px;
    }
  }
}

@media (max-width: 768px) {
  .member {
    &__photo {
      height: 463px;
    }
  }
}

@media (max-width: 390px) {
  .member {
    &__photo {
      width: 100%;
      height: 488px;
    }

    &__name {
      @include h5-mobile($font-size: 22px, $line-height: 28px);
    }
  }
}
