img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  max-width: 1280px;
}

.popup {
  max-height: 90vh;
  min-width: 40vw;
  background-color: transparent;
  position: relative;

  &__nav {
    position: absolute;
    bottom: 7%;
    transform: translateX(-50%);
    left: 50%;

    & .prev {
      margin-right: 10px;
    }

    & .prev,
    & .next {
      background-color: rgba(250, 250, 250, 100%);
      border-radius: 50%;
      border: 1px solid #000;
      width: 30px;
      height: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
