<div class="container">
  <div class="slider">
    <h3 class="slider__title" *ngIf="title">{{ title | translate }}</h3>
    <div class="slider__container" #sliderContainer>
      <div class="track" #track [ngStyle]="{'transform': 'translateX(' + translateX + 'px)'}">
        <div *ngFor="let item of sliderItems; let i = index" class="slide" #slide >
          <div
            class="slide__item"
            [ngStyle]="{ 'width': defaultSlideWidth + 'px' }"
            (click)="navigateTo(item.id)"
            (keydown)="navigateTo(item.id)"
            tabindex="0"
          >
            <img class="slide__item-img" src="{{ item.img }}" alt="Project photo" />
            <p class="slide__item-date">{{ item.date | date: 'dd.MM.yyyy' }}</p>
            <h4 class="slide__item-title">
              {{ item.title.length > 30 ? item.title.substring(0, 30) + '...' : item.title }}
            </h4>
            <p class="slide__item-descr">
              {{ item.description.length > 50 ? item.description.substring(0, 50) + '...' : item.description }}
            </p>
            <p class="slide__item-location">{{ item.location }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__nav" *ngIf="isShowButton">
      <button class="prev" (click)="prevSlide()" [disabled]="prevIsDisabled">
        <svg width="40" height="40" viewBox="0 0 48 48">
          <use xlink:href="./assets/sprites.svg#arrowForward"></use>
        </svg>
      </button>
      <button class="next" (click)="nextSlide()" [disabled]="nextIsDisabled">
        <svg width="40" height="40" viewBox="0 0 48 48">
          <use xlink:href="./assets/sprites.svg#arrowForward"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
