@import '/src/typography/typography';

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0;
  overflow: hidden;

  .slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__title {
      @include h2-desktop;

      margin: 0;
      justify-self: flex-start;
      align-self: flex-start;
    }

    &__container {
      .track {
        display: inline-flex;
        gap: 24px;
        transition: transform 0.3s;
        align-items: stretch;

        .slide {
          flex-shrink: 0;
          box-sizing: border-box;
          overflow: hidden;

          &__item {
            width: 100%;
            height: 100%;
            cursor: pointer;

            &-img {
              height: 180px;
              width: 100%;
              border-radius: 8px;
              object-fit: cover;
            }

            &-date {
              @include caption-desktop;

              margin-top: 20px;
            }

            &-title {
              @include h6-desktop($font-family: $primary-fonts, $font-size: 24px, $line-height: 32px);

              margin: 8px 0 0;
            }

            &-descr {
              @include body-desktop;

              margin-top: 8px;
            }

            &-location {
              @include caption-desktop;

              margin-top: 8px;
            }
          }
        }
      }

    }

    &__nav {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      gap: 8px;

      .prev {
        transform: rotate(180deg);
      }

      .prev,
      .next {
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .slider {
      gap: 32px;
    }
  }
}

@media (max-width: 390px) {
  .container {
    .slider {
      &__title {
        @include h2-mobile;
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    margin-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 465px) {
  .container {
    margin-left: 16px;
    padding: 48px 16px 48px 0;
  }
}
