.inactive {
  opacity: 0.5;
  pointer-events: none;
}

.loading {
  pointer-events: none;
  opacity: 0.5;
  position: relative;

  &::before {
    content: '';
    width: 40px;
    height: 40px;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    border: 5px solid black;
    border-radius: 45%;
    position: absolute;
    left: calc(50% - 20px);
    z-index: 999;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.player {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 17px 16px;
  box-shadow: 0 8px 16px 8px rgba(15, 15, 15, 10%);
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;

    .btn__player {
      width: 31px;
      height: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0;
      background-color: transparent;
    }
  }

  &__volume {
    border: 1px solid rgba(0, 0, 0, 30%);
    border-radius: 20px;
    height: 32px;
    padding: 0 10px;
    display: flex;
    align-items: center;

    .mat-icon {
      font-size: 20px;
      padding-top: 2px;
    }

    /*  Chrome  */
    input[type='range'] {
      width: 60px;
      cursor: pointer;
      appearance: none;
      background-color: transparent;
    }

    input[type='range']::-webkit-slider-runnable-track {
      background: black;
      height: 2px;
    }

    input[type='range']::-webkit-slider-thumb {
      appearance: none;
      border: none;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-top: -4px;
      background: rgb(0, 0, 0);
    }

    /* Mozilla */
    input[type='range']::-moz-range-progress {
      height: 2px;
      background-color: rgb(0, 0, 0);
    }

    input[type='range']::-moz-range-track {
      background: black;
      height: 2px;
    }

    input[type='range']::-moz-range-thumb {
      border: none;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-top: -4px;
      background: rgb(0, 0, 0);
    }
  }

  &__actions__mobile {
    display: none;
  }

  &__timeline {
    position: relative;
    width: 71.32%;

    input[type='range'] {
      height: 5px;
      width: 100%;
      position: relative;
      top: -4px;
      cursor: pointer;
      appearance: auto;
      accent-color: #282828;
      border-radius: 5px;
    }

    .timeline__time {
      position: absolute;
      top: 16px;
      font-size: 10px;
      letter-spacing: 0.2px;
      text-transform: capitalize;

      &.current__time {
        left: 0;
      }

      &.duration {
        right: 0;
      }
    }
  }
}

.player__multichanel__items {
  margin-top: -10px;
  padding: 18px 18px 0;
  box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 10%) inset;
  background-color: var(--bg-color-screen);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

  .multichanel__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -7px;
    z-index: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }

    .item__aside {
      display: flex;
      align-items: center;

      .item__name {
        margin-right: 20px;
      }

      .item__actions {
        button {
          .mat__icon {
            transform: scale(1.25);
          }
        }
      }
    }

    .item__timeline {
      position: relative;
      width: 71.32%;

      input[type='range'] {
        cursor: not-allowed;
        pointer-events: none;
        height: 5px;
        width: 100%;
        position: relative;
        top: -4px;
        appearance: auto;
        accent-color: #8a8a8a;
        border-radius: 5px;
      }

      .timeline__time {
        position: absolute;
        top: 16px;
        font-size: 10px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        pointer-events: none;

        &.current__time {
          left: 0;
        }

        &.duration {
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .player {
    flex-wrap: wrap;

    &__actions {
      width: 100%;
      flex: 1;
    }

    &__timeline {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .player {
    margin: 0 auto;
    padding: 16px;
    align-items: flex-end;

    &__actions {
      display: none;
    }

    &__actions__mobile {
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      .btn__player__mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 0;
        background-color: transparent;

        &.backward,
        &.forward {
          width: 47px;
          height: 32px;
        }
      }
    }

    &__volume {
      border-color: white;
    }

    &__timeline {
      width: 60%;
      padding-bottom: 6px;
    }
  }
}
