@import '../../../../typography/typography';
@import '../../../../typography/buttons';

.map {
  position: relative;
}

img {
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.popup {
  &-map {
    opacity: 0;
    text-align: center;
    padding-bottom: 16px;
    position: absolute;
    width: 302px;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    left: 0;
    top: 19.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    &__container {
      text-align: left;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    &__close {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      padding: 6px 15px;
      font-size: 30px;
      transform: rotate(45deg);
      color: white;
      cursor: pointer;
    }

    &__img {
      width: 100%;
      height: 190px;
      vertical-align: bottom;
      object-fit: cover;
    }

    &__content {
      padding: 25px 16px;
    }

    &__title {
      @include overline-desktop($color: $color-primary);

      padding-bottom: 10px;
    }

    &__count {
      font-family: "Open Sans", sans-serif;
    }

    &__btn {
      margin: 0 16px;

      @include primary-button;
    }
  }
}

.custom-info-window {
  cursor: pointer;

  p {
    padding-bottom: 10px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1376px) {
  .container {
    margin: 0 48px;
    max-width: 93%;
    left: 0;
    transform: translateY(0);
  }
}

@media (max-width: 790px) {
  .container {
    padding: 60px 0;
    margin: 0 32px;
  }

  .popup {
    &-map {
      top: 16.4%;
    }
  }
}

@media (max-width: 500px) {
  .container {
    padding: 48px 0;
    margin: 0 16px;
  }

  .popup {
    &-map {
      top: 12%;
      width: 96%;

      &__title {
        padding: 0 0 10px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
