<section class="map">
  <google-map
    class="map"
    width="100%"
    height="694px"
    [center]="mapOptions.center"
    [zoom]="mapOptions.zoom"
    [options]="mapOptions.options">
    <map-marker
      *ngFor="let marker of markers"
      [position]="formatCords(marker.location__coordinates)"
      [options]="{ icon: getCustomMarkerIcon(marker.location__coordinates) }"
      (mapClick)="onMarkerClick(marker)"
    >
    </map-marker>
    <ng-container *ngIf="popupType === 'default'">
      <ng-container *ngFor="let elem of markers">
        <map-marker
          #marker="mapMarker"
          [position]="formatCords(elem.location__coordinates)"
          [options]="{ icon: getCustomMarkerIcon(elem.location__coordinates) }"
          (mapClick)="openInfoWindow(marker, infoWindow, elem)"
        ></map-marker>
        <map-info-window #infoWindow="mapInfoWindow" class="custom-info-window" (click)="listenToRecords()">
          <h2 class="popup-map__title">{{ elem.location__city }}</h2>
          <p class="popup-map__count">
            {{ 'home.home-map.popup-count' | translate }} : {{ elem.count }}
          </p>
        </map-info-window>
      </ng-container>
    </ng-container>
  </google-map>
  <ng-container *ngIf="selectedMarker && popupType === 'homeType'">
    <div class="container">
      <div class="popup-map" [ngClass]="{ active: selectedMarker }">
        <button class="popup-map__close" (click)="onCloseInfoWindow()">+</button>
        <div class="popup-map__container">
           <img class="popup-map__img" [src]="imgSrs[randomIndex]" alt="Фото" />
          <div class="popup-map__content">
            <h2 class="popup-map__title">{{ selectedMarker.location__city }}, {{ selectedMarker.location__city }}</h2>
            <p class="popup-map__count">
              {{ 'home.home-map.popup-count' | translate }} : {{ selectedMarker.count }}
            </p>
          </div>
        </div>
        <a class="popup-map__btn" role="button" tabindex="0" (keypress)="listenToRecords()" (click)="listenToRecords()">{{
          'home.home-map.popup-btn' | translate
          }}</a>
      </div>
    </div>
  </ng-container>
</section>
