@import '../../../../typography/typography';

.map {
  position: relative;
}

img {
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.popup {
  &-map {
    opacity: 0;
    text-align: center;
    padding-bottom: 16px;
    position: absolute;
    width: 302px;
    height: 480px;
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
    left: 0;
    top: 19.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    &__container {
      text-align: left;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    &__close {
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      padding: 6px 15px;
      font-size: 30px;
      transform: rotate(45deg);
      color: white;
      cursor: pointer;
    }

    &__img {
      width: 100%;
      height: 190px;
      vertical-align: bottom;
      object-fit: cover;
    }

    &__content {
      padding: 16px;
    }

    &__title {
      @include overline-desktop($color: $color-primary);

      padding: 9px 0;
    }

    &__count {
      font-family: "Open Sans", sans-serif;
    }

    &__btn {
      @include button-desktop;

      font-family: "Open Sans", sans-serif;
      margin: 0 16px;
      padding: 12px 24px;
      border-radius: 100px;
      border: 2px solid var(--bg-color-accent);
      background-color: var(--bg-color-accent);
      color: #131313;
      text-decoration: none;
      text-align: center;
      transition: all .3s linear;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        color: var(--bg-color-accent);
      }
    }
  }

}

@media (max-width: 1376px) {
  .container {
    margin: 0 48px;
    max-width: 93%;
    left: 0;
    transform: translateY(0);
  }
}

@media (max-width: 790px) {
  .container {
    padding: 60px 0;
    margin: 0 32px;
  }

  .popup {
    &-map {
      top: 16.4%;
    }
  }
}

@media (max-width: 500px) {
  .container {
    padding: 48px 0;
    margin: 0 16px;
  }

  .popup {
    &-map {
      top: 12%;
      width: 96%;

      &__title {
        padding: 0 0 10px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
