<div class="container">
  <section class="cycle">
    <app-breadcrumbs></app-breadcrumbs>

    <h1 class="cycle__title">{{ categoryData.title }}</h1>
    <div class="cycle__description">
      <div class="cycle__description-box">
        {{ categoryData.description }}
      </div>
    </div>
    <ng-container *ngFor="let sub of categoryData.song_subcategories; let i = index">
      <h4 class="cycle__title-sub">{{ sub.title }}</h4>
      <div class="cycle__subcategory">
        <div class="cycle__img-box">
          <img class="cycle__subcategory-img" *ngIf="i === 0" [src]="sub.media" alt="Ілюстрація до категорії" />
        </div>
        <div class="cycle__subcategory-box">
          <a href="#" class="cycle__subcategory-link" *ngFor="let link of sub.education_genres" [routerLink]="'genre/' + link.id">
            {{ link.title }}
            <span class="cycle__subcategory-arrow">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="./assets/sprites.svg#arrowArticleItem"></use>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </ng-container>
    <div class="cycle__sources">
      <app-recommended-sources [recommendedLnks]="categoryData.recommended_sources"></app-recommended-sources>
    </div>
  </section>
</div>
