@import '../../../../typography/typography';

.event {
  height: 350px;
  display: flex;
  flex-direction: column;
  width: 302px;

  &__player {
    border-radius: 8px;
    height: 180px;
    overflow: hidden;
  }

  &__date {
    @include caption-desktop;

    margin-top: 24px;
  }

  &__name {
    @include h6-desktop($font-size: 24px, $line-height: 50px, $font-family: $primary-fonts);
  }

  &__description {
    @include body-desktop;

    overflow: hidden;
  }

  &__location {
    @include caption-desktop;

    margin-top: 8px;
  }
}

@media (width < 1025px) {
  .event {
    width: 293px;

    &__media {
      img {
        width: 293px;
      }
    }
  }
}

@media (width < 769px) {
  .event {
    width: 340px;

    &__player {
      height: 200px;
    }

    &__media {
      height: 200px;

      img {
        width: 340px;
        height: 200px;
      }
    }
  }
}

@media (width < 391px) {
  .event {
    height: 338px;
    width: 358px;

    &__media {
      img {
        width: 358px;
      }
    }

    &__date {
      margin-top: 18px;
    }

    &__name {
      @include h6-mobile($line-height: 30px, $font-family: $primary-fonts);
    }

    &__location {
      margin-top: 6px;
    }
  }
}
