@import '../../../../typography/typography';

.carousel {
  width: 100%;

  &-box {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 12px;
  }

  &-nav {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  &-img {
    transition: opacity 0.5s;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-info {
    @include body-desktop;

    padding: 0 5px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    color: var(--text-color-popup-menu);

    &.column {
      flex-direction: column;
      align-items: center;
    }

    span {
      color: var(--text-color-primary);
    }
  }

  &-prev {
    svg {
      transform: rotate(180deg);
    }
  }

  &-prev,
  &-next {
    background-color: transparent;
    border: none;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
