<div class="container">
  <div class="science">
    <h2 class="science__title">{{ title }}</h2>
    <p class="science__introduction">
      {{ intro }}
    </p>
    <div class="science__gallery">
      <div class="science__gallery-item" *ngFor="let category of categories">
        <app-category-link
        [routerLink]="'category/' + category.id"
          [category]="category.title | translate"
          [imgUrl]="category.media"
        ></app-category-link>
      </div>
    </div>
    <div class="science__recomendations">
      <app-recomendation [recommendations]="recommendations"></app-recomendation>
    </div>
    <div class="sciecnce__sources">
      <app-recommended-sources [recommendedLinks]="recommendedSources"></app-recommended-sources>
    </div>
  </div>
</div>
