section {
  padding: 50px;
}

h2 {
  color: var(--bg-color-accent);
  text-align: center;
  margin: 0;
  font-size: 50px;
}

div {
  display: flex;
  flex-direction: column;
}

a {
  color: #111;
}

h3 {
  font-size: 26px;
  color: var(--bg-color-yellow);
}

.flex {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
}
