<section class="popup-team">
  <div class="popup-team__close">
    <span mat-button mat-dialog-close class="popup-team__close-btn">
      <svg width="18" height="18" viewBox="0 0 20 20">
        <use xlink:href="./assets/sprites.svg#headerClose"></use>
      </svg>
    </span>
  </div>
  <h2 class="popup-team__title">Команда розробки сайту</h2>
  <div class="popup-team__scroll">
    <div class="popup-team__profession">
      <h3 class="popup-team__title-sub">PO</h3>
      <div class="popup-team__person--link-wrapper">
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/oleh-korobov-maestro/" target="_blank">Oleh Korobov</a>
      </div>
    </div>
    <div class="popup-team__profession">
      <h3 class="popup-team__title-sub">BA/PM</h3>
      <div class="popup-team__person--link-wrapper">
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/olha-mykhalyk/" target="_blank">Olha Mykhalyk</a>
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/yurii-skochylias/" target="_blank">Yurii Skochylias</a>
      </div>
    </div>
    <div class="popup-team__profession">
      <h3 class="popup-team__title-sub">Back-end </h3>
      <div class="popup-team__person--link-wrapper">
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/andrii-kosiakov/" target="_blank">Andrii Kosiakov</a>
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/smile4alice" target="_blank">Viktor Bazar</a>
      </div>
    </div>
    <div class="popup-team__profession">
      <h3 class="popup-team__title-sub">Front-end </h3>
      <div class="popup-team__person--link-wrapper">
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/olga-shutyleva/" target="_blank">Olga Shutyleva</a>
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/yuri-kolechkin/" target="_blank">Yuri Kolechkin</a>
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/oleksii-vynnyk-lviv/" target="_blank">Oleksii Vynnyk</a>
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/yuliia-titkina-779964a0/" target="_blank">Yuliia Titkina</a>
      </div>
    </div>
    <div class="popup-team__profession">
      <h3 class="popup-team__title-sub">Design</h3>
      <div class="popup-team__person--link-wrapper">
        <a class="popup-team__person--link" target="_blank">Анастасія Черняк</a>
        <a class="popup-team__person--link" target="_blank">Катерина Барчик</a>
        <a class="popup-team__person--link" target="_blank">Олександр Зінчук</a>
        <a class="popup-team__person--link" target="_blank">Марія Попова</a>
      </div>
    </div>
    <div class="popup-team__profession">
      <h3 class="popup-team__title-sub">QA team</h3>
      <div class="popup-team__person--link-wrapper">
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/serhiiqaengineer/" target="_blank">Serhii Sukhomli</a>
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/iryna-sabadash-208570263/" target="_blank">Iryna Sabadash</a>
        <a class="popup-team__person--link" href="https://www.linkedin.com/in/tetiana-kovalska-43b32022b" target="_blank">Tetiana Kovalska</a>
        <a class="popup-team__person--link" href="http://linkedin.com/in/solomiia-ivanochko-0034a9256" target="_blank">Solomiia Ivanochko</a>
      </div>
    </div>
  </div>
</section>
