<section>
  <h2>Our great team!</h2>
  <div class="flex">
    <div>
      <h3>BA / PM</h3>
      <a href="https://www.linkedin.com/in/olha-mykhalyk/">Olha Mykhalyk</a>
    </div>
    <div>
      <h3>Back-end </h3>
      <a href="https://www.linkedin.com/in/andrii-kosiakov/">Андрій Косяков</a>
      <a href="https://www.linkedin.com/in/smile4alice">Віктор Базар</a>
    </div>
    <div>
      <h3>Front-end </h3>
      <a href="https://www.linkedin.com/in/yuri-kolechkin/">Юрій Колечкін</a>
      <a href="https://www.linkedin.com/in/olga-shutyleva/">Оlha Shutyleva</a>
      <a href="https://www.linkedin.com/in/oleksii-vynnyk-lviv/">Oleksii Vynnyk</a>
      <a href="https://www.linkedin.com/in/yuliia-titkina-779964a0/">Yuliia Titkina</a>
    </div>
    <div>
      <h3>Design</h3>
      <a>Анастасія Черняк</a>
      <a>Катерина Барчик</a>
      <a>Лесик Зінчук</a>
    </div>
    <div>
      <h3>QA team</h3>
      <a href="https://www.linkedin.com/in/serhiiqaengineer/">Сергій Сухомлін</a>
      <a href="https://www.linkedin.com/in/iryna-sabadash-208570263/">Ірина Сабадаш</a>
      <a href="https://www.linkedin.com/in/tetiana-kovalska-43b32022b">Тетяна Ковальська</a>
      <a href="http://linkedin.com/in/solomiia-ivanochko-0034a9256">Соломія Іваночко</a>
    </div>
  </div>
</section>
