<section>
  <h2>Our great team!</h2>
  <div class="flex">
    <div>
      <h3>BA / PM</h3>
      <p>Olya</p>
    </div>
    <div>
      <h3>Back-end </h3>
      <p>Viktor | Pyton</p>
      <p>Andriy | Pyton</p>
    </div>
    <div>
      <h3>Front-end </h3>
      <p>Yurko</p>
      <p>Olya | Angularshica</p>
    </div>
    <div>
      <h3>Design</h3>
      <p>Anastasia</p>
    </div>
    <div>
      <h3>QA team</h3>
      <p>Sergiy</p>
      <p>QA 2</p>
      <p>QA 3</p>
      <p>QA 4</p>
    </div>
  </div>
</section>
