<section class="map">
  <google-map
    class="map"
    width="100%"
    height="694px"
    [center]="mapOptions.center"
    [zoom]="mapOptions.zoom"
    [options]="mapOptions.options"
  >
    <map-marker *ngFor="let marker of cordsMarkers"
                [position]="marker.position"
                [options]="{ icon: getCustomMarkerIcon(marker.key) }"
                (mapClick)="onMarkerClick(marker)"
                (touchend)="onMarkerClick(marker)"
    >
    </map-marker>
  </google-map>
  <ng-container *ngIf="selectedMarker">
    <div class="container">
      <div class="popup-map" [ngClass]="{'active': selectedMarker}">
        <button class="popup-map__close" (click)="onCloseInfoWindow()">+</button>
        <div class="popup-map__container">
          <img class="popup-map__img" [src]="selectedMarker.popup.photoUrl" alt="Фото">
          <div class="popup-map__content">
            <h2 class="popup-map__title">{{ selectedMarker.popup.title }}</h2>
            <p class="popup-map__count">{{ 'home.home-map.popup-count' | translate }}
              : {{selectedMarker.popup.countRecords}}</p>
          </div>
        </div>
        <a class="popup-map__btn" [href]="selectedMarker.popup.link">{{ 'home.home-map.popup-btn' | translate }}</a>
      </div>
    </div>
  </ng-container>
</section>
