@import '/src/typography/normalize';
@import '/src/typography/colors';
@import '/src/typography/fonts';
@import '/src/typography/typography';
@import '/src/styles/multiselect';

/* ----------GENERAL------------ */
html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 10px 0;
  position: relative;
  padding-left: 26px;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: var(--bg-color-accent);
  }
}

.content {
  h1 {
    line-height: normal;
  }

  h2 {
    padding-bottom: 10px;
  }

  img {
    border-radius: 12px;
  }

  a {
    text-decoration: underline;
    color: #006;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width:  1376px) {
  .container {
    max-width: 100%;
  }
}

iframe  {
  width: 100%;
  height: 476px;
}

@media (max-width: 1024px) {
  .box {
    padding-left: 0;
  }
}

@media (max-width: 675px) {
  iframe {
    height: 100%;
  }
}

@media (max-width: 465px) {
  iframe {
    height: 240px;
  }
}
