@import '/src/typography/normalize';
@import '/src/typography/colors';
@import '/src/typography/fonts';
@import '/src/typography/typography';
@import '/src/styles/multiselect';

/* ----------GENERAL------------ */
html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 10px 0;
  position: relative;
  padding-left: 26px;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: var(--bg-color-accent);
  }
}

.content {
  h1 {
    line-height: normal;
  }

  ul {
    padding-left: 40px;
    list-style-type: disc;
  }

  ol {
    padding-left: 20px;
  }

  h2 {
    padding-bottom: 10px;
  }

  img {
    border-radius: 12px;
  }

  a {
    text-decoration: underline;
    color: #006;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (max-width:  1376px) {
  .container {
    max-width: 100%;
  }
}

iframe  {
  width: 100%;
  height: 476px;
}

@media (max-width: 1024px) {
  .box {
    padding-left: 0;
  }
}

@media (max-width: 675px) {
  iframe {
    height: 100%;
  }
}

@media (max-width: 465px) {
  iframe {
    height: 240px;
  }
}

.no-result {
  position: relative;
  margin-top: 5px;
  flex-grow: 1;
  padding: 15px 0;
  opacity: .8;
  min-height: 140px;

  span {
    @include h3-mobile($font-size: 23px, $color: var(--text-color-popup-menu), $text-transform: none);

    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    left: 50%;
    min-width: 280px;
    max-width: 450px;
    position: absolute;
  }
}
