@import '../../../../../../../typography/typography';

.song {
  margin-top: 108px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;

  @include body-desktop;

  img {
    width: 100%;
  }

  &__box {
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 2fr;
  }

  &__title {
    @include h2-desktop;

    margin-bottom: 24px;

    &-sub {
      @include h4-desktop($line-height: 36px);

      margin-top: 0;
      margin-bottom: 24px;
    }
  }

  &__carousel {
    width: 302px;

    &-box {
      height: 315px;
      position: relative;
      margin-bottom: 24px;
    }

    &-nav {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
    }

    &-img {
      transition: opacity 0.5s;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.active {
        opacity: 1;
      }
    }

    &-info {
      @include body-desktop;

      color: var(--text-color-popup-menu);
      text-align: center;
      margin-bottom: 16px;

      span {
        color: var(--text-color-primary);
      }
    }

    &-prev {
      svg {
        transform: rotate(180deg);
      }
    }

    &-prev,
    &-next {
      background-color: transparent;
      border: none;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  &__player {
    &-genre {
      @include body-desktop;

      margin-bottom: 48px;
    }

    &-btns {
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-download {
      @include body-desktop($font-weight: $font-weight-semibolt);

      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      padding: 12px 24px;
      border-radius: 100px;
      border: 2px solid var(--text-color-extra-2);
      background-color: transparent;
    }

    &-mobile {
      display: none;
    }
  }

  &__text {
    background-color: var(--bg-color-screen);
    box-shadow: 0 2px 10px 0 rgba(15, 15, 15, 7%);
    padding: 48px 0;

    &-content {
      max-width: 659px;
    }
  }

  &__info {
    &-descr {
      @include subtitle-desktop($font-weight: $font-weight-regular);
    }

    &-title {
      @include body-desktop($color: var(--text-color-popup-menu));

      margin-bottom: 8px;
    }

    &-detail {
      @include body-desktop($font-weight: $font-weight-semibolt);
    }

    &-box {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__video {
    &-box {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    &-container {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 488px;
    }
  }

  &__map{
    &-container {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 488px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (max-width: 1094px) {
  .song {
    &__player {
      &-desctop {
        display: none;
      }

      &-mobile {
        display: block;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }

  .song {
    &__info {
      grid-template-columns: 1fr;
    }

    &__title {
      &-sub {
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .song {
    gap: 60px;

    &__carousel {
      width: 100%;

      &-box {
        height: 738px;
      }
    }

    &__player {
      order: -1;

      &-genre {
        margin-bottom: 0;
      }
    }

    &__text {
      margin: 0 -32px;
      padding: 48px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__box {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 675px) {
  .song {
    margin-top: 96px;
  }
}

@media (max-width: 667px) {
  .song {
    &__player {
      &-btns {
        flex-direction: column;
        gap: 48px;
        align-items: stretch;
      }
    }
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .song {
    padding: 32px 0;
    gap: 32px;

    &__carousel {
      &-box {
        height: 376px;
      }
    }

    &__map {
      &-container {
        height: 206px;
      }
    }

    &__video {
      &-container {
        height: 206px;
      }
    }

    &__text {
      margin: 0 -16px;
      padding: 48px 16px;
    }

    &__title {
      font-size: 32px;
      line-height: 40px;

      &-sub {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}


