<div class="container" *ngIf="selectedSong$ | async as song">
  <section class="song" *ngIf="song.id">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <div class="song__box song__header">
      <div class="song__carousel" *ngIf="song.photos">
        <app-fade-in-carousel [photos]="song.photos" [classInfo]="'column'" [heightImage]="315"></app-fade-in-carousel>
      </div>
      <div class="song__player">
        <h1 class="song__title">{{ song.title }}</h1>

        <div class="song__player-genre">
          <p *ngFor="let genre of song.genres">{{ genre.title }}</p>
        </div>
        <div class="song__player-desctop">
          <app-stereo-player #stereoPlayer [autoplay]="true" [song$]="playerSong$"></app-stereo-player>

          <div class="song__player-btns">
            <a class="song__player-download" [href]="song.stereo_audio" [download]="song.stereo_audio" target="_blank">
              <svg width="24" height="24">
                <use xlink:href="./assets/sprites.svg#download"></use>
              </svg>
              {{ 'science.song-page.header.download' | translate }}
            </a>
            <app-share></app-share>
          </div>
        </div>
      </div>
    </div>
    <div class="song__player-mobile">
      <app-stereo-player #stereoPlayer [song$]="playerSong$"></app-stereo-player>

      <div class="song__player-btns">
        <button class="song__player-download">
          <svg width="24" height="24">
            <use xlink:href="./assets/sprites.svg#download"></use>
          </svg>
          {{ 'science.song-page.header.download' | translate }}
        </button>
        <app-share className="song"></app-share>
      </div>
    </div>
    <div class="song__box song__text">
      <div></div>
      <div class="song__text-box">
        <div class="song__text-content" *ngIf="song.song_text" [innerHTML]="song.song_text | formatText"></div>
        <div class="song__text-content" *ngIf="!song.song_text">No text available</div>
      </div>
    </div>
    <div class="song__box song__info">
      <div class="song__info-titles">
        <h4 class="song__title-sub">{{ 'science.song-page.info.title' | translate }}</h4>
        <div class="song__info-descr" *ngIf="song.song_description" [innerHTML]="song.song_description | formatText"></div>
      </div>
      <div class="song__info-box">
        <div>
          <p class="song__info-title">{{ 'science.song-page.info.place' | translate }}</p>
          <p class="song__info-detail">{{ song.ethnographic_district }}</p>
        </div>
        <div>
          <p class="song__info-title">{{ 'science.song-page.info.region' | translate }}</p>
          <p class="song__info-detail">{{ song.location }}</p>
        </div>
        <div>
          <p class="song__info-title">{{ 'science.song-page.info.record' | translate }}</p>
          <p class="song__info-detail" *ngFor="let collector of song.collectors">{{ collector }} </p>
        </div>
        <div>
          <p class="song__info-title">{{ 'science.song-page.info.performers' | translate }}</p>
          <p class="song__info-detail">{{ song.performers }}</p>
        </div>
      </div>
    </div>
    <div class="song__box song__video">
      <div>
        <h4 class="song__title-sub">{{ 'science.song-page.video' | translate }}</h4>
      </div>
      <div class="song__video-box">
        <!--        <app-video-player [srcUrl]="song.media.video_example"></app-video-player>-->
        <div class="song__video-container">
          <app-video-player [srcUrl]="song.video_url"></app-video-player>
        </div>
<!--        <div class="song__video-container" style="background-image: url({{ staticVideoImgUrl }});"></div>-->
      </div>
    </div>
    <div class="song__box song__map">
      <div>
        <h4 class="song__title-sub">{{ 'science.song-page.map' | translate }}</h4>
        <div class="song__info-descr" *ngIf="song.comment_map" [innerHTML]="song.comment_map | formatText"></div>
      </div>
      <div>
        <div class="song__map-container" style="background-image: url({{song.map_photo}})"></div>
      </div>
    </div>
  </section>
</div>
