@import '../../../../../../../typography/typography';

.song {
  margin-top: 108px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include body-desktop;

  img {
    width: 100%;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &__carousel {
    width: 302px;

    &-box {
      height: 315px;
      position: relative;
      margin-bottom: 24px;
    }

    &-nav {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
    }

    &-img {
      transition: opacity 0.5s;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.active {
        opacity: 1;
      }
    }

    &-info {
      @include body-desktop;

      color: var(--text-color-popup-menu);
      text-align: center;
      margin-bottom: 16px;

      span {
        color: var(--text-color-primary);
      }
    }

    &-prev {
      svg {
        transform: rotate(180deg);
      }
    }

    &-prev,
    &-next {
      background-color: transparent;
      border: none;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  &__player {
    &-title {
      @include h2-desktop;

      margin-bottom: 24px;
    }

    &-genre {
      @include body-desktop;

      margin-bottom: 48px;
    }
  }
}

@media (width <=1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (width <=1024px) {
  .container {
    margin: 0 48px;
  }
}

@media (width <=768px) {
  .container {
    margin: 0 32px;
  }
}

@media (width <=675px) {
  .container {
    margin: 0 32px;
  }

  .song {
    margin-top: 96px;
  }
}

@media (width <=465px) {
  .container {
    margin: 0 16px;
  }

  .song {
    padding: 32px 0;
    gap: 32px;
  }
}


