<mat-expansion-panel
  hideToggle="true"
  class="mat-elevation-z0 recomendations"
  (opened)="rotateRecomendationArrow()"
  (closed)="rotateRecomendationArrow()"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Рекомендації </mat-panel-title>
    <mat-panel-description>
      <app-arrow-down [direction]="expansionRecomendationArrow"></app-arrow-down>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-container *ngFor=" let p of pageParagraphs">
    <div [innerHTML]="p | safeHtml" class="content"></div>
    <br />
  </ng-container>
  <div class="recomendations__pagination" *ngIf="recomendationPages.length > 1">
    <button class="recomendations__pagination__navigation" aria-label="navigate pagination" (click)="navigateToNextPage(-1)">
      <svg width="24" height="24" viewBox="-3 -4 24 24">
        <use xlink:href="./assets/sprites.svg#paginationNext"></use>
      </svg>
    </button>
    <button
      aria-label="navigate to page pagination"
      class="recomendations__pagination__navigation recomendations__pagination__number"
      *ngFor="let page of recomendationPages"
      [ngClass]="{ 'current-page': page === currentPage }"
      (click)="navigateToPage(page)"
    >
      {{ page }}
    </button>
    <button aria-label="navigate to next page pagination" class="recomendations__pagination__navigation" (click)="navigateToNextPage(1)">
      <svg width="24" height="24" viewBox="-2 -4 24 24" style="transform: rotate(180deg)">
        <use xlink:href="./assets/sprites.svg#paginationNext"></use>
      </svg>
    </button>
  </div>
</mat-expansion-panel>
