@import '../../../../../../../typography/typography';

// eslint-disable-next-line no-use-before-define
.mat-expansion-panel {
  border: 1px solid rgba(0, 0, 0, 60%);
  border-radius: 7px;
  min-height: 64px;

  &-header {
    height: 64px !important;

    &-description {
      display: flex;
      justify-content: flex-end;
      margin-right: 0;
    }

    &-title {
      @include h5-desktop($font-size: 24px);

      height: 50px;
    }
  }
}

.recomendations {
  &__pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;

    &__navigation {
      border: 1px solid rgba(0, 0, 0, 20%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 3px;
      background-color: inherit;
    }

    &__number {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.current-page {
  background-color: yellow;
  border: 1px solid yellow;
}
