<div class="container" *ngIf="song.id">
  <section class="song-page">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

    <div class="song-page__detail" *ngIf="song.id">
      <div class="song-page__video">
        <app-video-player [srcUrl]="song.video_url"></app-video-player>
      </div>
      <div class="song-page__info">
        <div class="song-page__text">
          <h2 class="song-page__text-title">{{ song.title }}</h2>
          <h6 class="song-page__text-genre">{{ song.genres[0] }}</h6>
          <div class="song-page__text-content" *ngIf="song.song_text" [innerHTML]="song.song_text | formatText"></div>
          <div class="song-page__text-content" *ngIf="!song.song_text">No text available</div>
        </div>
        <div class="song-page__carousel">
          <app-fade-in-carousel [photos]="song.photos" [classInfo]="'column'"></app-fade-in-carousel>
        </div>
      </div>
      <div class="song-page__player">
        <p class="song-page__player-title">{{ 'map.song-page.listen-song' | translate }}</p>

        <app-stereo-player [autoplay]="false" *ngIf="!haveChannels" [song$]="song$"></app-stereo-player>

        <app-multichanel-player *ngIf="haveChannels" [song$]="song$"></app-multichanel-player>
      </div>
      <div class="song-page__song">
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.place' | translate }}</p>
          <p class="song-page__song-description">
            {{ song.location }}
          </p>
        </div>
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.region' | translate }}</p>
          <p class="song-page__song-description">{{ song.ethnographic_district }}</p>
        </div>
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.record' | translate }}</p>
          <p class="song-page__song-description">{{ song.collectors }}</p>
        </div>
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.performers' | translate }}</p>
          <p class="song-page__song-description">{{ song.performers }}</p>
        </div>
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.data' | translate }}</p>
          <p class="song-page__song-description">{{ song.recording_date }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
