@import '../../../../../../typography/typography';

.song {
  &-page {
    padding: 80px 0;
    margin-top: 108px;

    &__detail {
      display: flex;
      gap: 80px;
      flex-direction: column;
      padding-top: 48px;
    }

    &__video {
      height: 636px;
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }

    &__info {
      display: flex;
      gap: 24.5px;
      padding-bottom: 32px;
    }

    &__text {
      width: 50%;

      &-title {
        @include h2-desktop;
      }

      &-genre {
        @include body-desktop;

        margin: 18px 0 24px;
      }

      &-content {
        @include paragraph-desktop($color: $color-primary);
      }
    }

    &__path {
      margin-bottom: 48px;

      a, span {
        @include body-desktop;
      }
    }

    &__carousel {
      width: 50%;

      &-box {
        height: 334px;
        position: relative;
        margin-bottom: 24px;
      }

      &-nav {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
      }

      &-img {
        transition: opacity 0.5s;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &.active {
          opacity: 1;
        }
      }

      &-info {
        @include body-desktop;

        color: var(--text-color-popup-menu);
        text-align: center;
        margin-bottom: 16px;

        span {
          color: var(--text-color-primary);
        }
      }

      &-prev {
        svg {
          transform: rotate(180deg);
        }
      }

      &-prev,
      &-next {
        background-color: transparent;
        border: none;

        &.disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }

    &__player {
      &-title {
        margin-bottom: 16px;

        @include body-desktop;
      }
    }

    &__song {
      display: flex;
      gap: 24px;

      &-box {
        width: 100%;
      }

      &-title {
        @include body-desktop;

        color: var(--text-color-popup-menu);
        margin-bottom: 8px;
      }

      &-description {
        @include body-desktop;
      }
    }
  }
}


@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }

  .song {
    &-page {
      &__video {
        height: 464px;
      }

      &__info {
        flex-direction: column;
        gap: 80px;
      }

      &__text {
        width: 100%;
      }

      &__carousel {
        width: 664px;
      }

      &__song {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .song {
    &-page {
      padding: 60px 0;

      &__carousel {
        width: 100%;
      }

      &__video {
        height: 352px;
      }
    }
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .song {
    &-page {
      padding: 48px 0;

      &__video {
        height: 179px;
      }

      &__carousel {
        &-box {
          height: 168px;
        }

        &-img {
          height: 168px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .song {
    &-page {
      margin-top: 96px;
    }
  }
}

@media (max-width: 421px) {
  .song {
    &-page {
      margin-top: 80px;

      &__detail {
        padding-top: 28px;
      }
    }
  }
}
