<div class="container" *ngIf="song.id">
  <section class="song-page">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

    <div class="song-page__detail" *ngIf="song.id">
      <div class="song-page__video">
        <app-video-player [srcUrl]="song.video_url" (ytStartsPlay)="onYtStartsPlay()" [order$]="orderToYt$"></app-video-player>
      </div>
      <div class="song-page__info">
        <div class="song-page__text">
          <h2 class="song-page__text-title">{{ song.title }}</h2>
          <div class="song-page__text-genre">
            <p>
              <span class="song-page__text-genre__title">Жанр: </span>
              <span *ngFor="let genre of song.genres; let last = last">
                {{ genre }}{{ !last ? ', ' : '' }}
              </span>
            </p>
            <p>
              <span class="song-page__text-genre__title">Дата запису: </span>
              <span>{{ song.recording_date | date : 'dd.MM.yyyy' }}</span>
            </p>
          </div>
          <div class="song-page__text-content" *ngIf="song.song_text" [innerHTML]="song.song_text | formatText"></div>
          <div class="song-page__text-content" *ngIf="!song.song_text">No text available</div>
        </div>
        <div class="song-page__carousel">
          <app-fade-in-carousel [photos]="song.photos" [classInfo]="'column'"></app-fade-in-carousel>
        </div>
      </div>
      <div class="song-page__player">
        <p class="song-page__player-title">{{ 'map.song-page.listen-song' | translate }}</p>

        <app-stereo-player [autoplay]="false" *ngIf="!haveChannels" [song$]="song$" (isPlay)="onStereeoPlay()"></app-stereo-player>

        <app-multichanel-player *ngIf="haveChannels" [song$]="song$" (isPlay)="onStereeoPlay()"></app-multichanel-player>
      </div>
      <div class="song-page__song">
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.place' | translate }}</p>
          <p class="song-page__song-description">
            {{ song.location }}
          </p>
        </div>
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.region' | translate }}</p>
          <p class="song-page__song-description">{{ song.ethnographic_district }}</p>
        </div>
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.record' | translate }}</p>
          <p class="song__info-detail" *ngFor="let collector of song.collectors">{{ collector }} </p>        </div>
        <div class="song-page__song-box">
          <p class="song-page__song-title">{{ 'map.song-page.song-info.performers' | translate }}</p>
          <p class="song-page__song-description">{{ song.performers }}</p>
        </div>
        <div class="song-page__song-box">
          <p class="song-page__song-title">Фонд</p>
          <p class="song-page__song-description">{{ song.fund.title }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
