@import '../../../../../../../typography/typography';
@import '../../../../../../../typography/fonts';
@import '../../../../../../../typography/buttons';
@import '../../../../../../../typography/colors';

.detail {
  transition: all 0.2s ease-in-out;
  display: grid;
  grid-template-columns: 7.5fr 3.1fr 4fr;
  gap: 24px;
  top: -24px;
  position: relative;
  z-index: 1;
  padding: 24px;
  background-color: var(--bg-color-screen);
  margin: 0 3px 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 10%) inset;
  align-items: stretch;
  justify-content: space-between;
  opacity: 1;

  &__video {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
  }

  &__info {
    position: relative;
    padding-bottom: 49px;

    .info__date__record {
      margin-bottom: 12px;

      .date__record__title {
        @include caption-desktop;

        margin-bottom: 4px;
      }

      .date__record__date {
        @include body-desktop;

        font-size: 16px;
      }
    }

    .info__collectors {
      margin-bottom: 12px;

      .collectors__title {
        @include caption-desktop;

        margin-bottom: 4px;
      }

      .collectors__names {
        .names__names__list {
          @include body-desktop;

          font-size: 16px;

          .names__list__item {
            margin-bottom: 4px;
          }
        }
      }
    }

    .info__ethnographic__region {
      margin-bottom: 12px;

      .ethnographic__region__title {
        @include caption-desktop;

        margin-bottom: 4px;
      }

      .ethnographic__region__region {
        @include body-desktop;

        font-size: 16px;
      }
    }

    .info__btn__more__detail {
      @include button-desktop;

      position: absolute;
      bottom: 0;
      min-width: 177px;
      height: 49px;
      padding: 10px;
      text-align: center;
      margin-right: 114px;
      border-radius: 100px;
      background-color: transparent;
      border: 2px solid var(--text-color-accent);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        border: 2px solid var(--bg-color-footer);
      }
    }
  }

  &__song__text {
    position: relative;
    height: 365px;
    background-color: #fefefe;
    border-radius: 12px;
    padding: 24px 12px 0 24px;
    box-shadow: 0 2px 10px 0 rgba(15, 15, 15, 7%);

    .song__text__content {
      padding-right: 10px;
      height: 325px;
      overflow-y: scroll;

      p {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .detail {
    grid-template-rows: auto auto;
    grid-template-columns: 7.7fr 3.1fr;

    &__video {
      height: 365px;
    }

    &__song__text {
      grid-column: span 1;
      max-width: 328px;
    }
  }
}

@media (max-width: 768px) {
  .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__video {
      flex: 0 0 100%;
      height: 390px;
    }

    &__info {
      order: 2;
      flex: 2;
    }

    &__song__text {
      flex: 2;
    }
  }
}

@media (max-width: 630px) {
  .detail {
    flex-wrap: wrap;

    &__video {
      width: 100%;
      height: 230px;
    }

    &__info {
      width: 100%;
    }

    &__song__text {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .detail {
    flex-direction: column;
    align-items: center;

    &__song__text {
      order: 3;
    }
  }
}
