<div class="detail" [ngClass]="{'opened': isOpened}" *ngIf="isOpened">
    <div class="detail__video">
      <app-video-player *ngIf="song.video_url" [srcUrl]="song.video_url" [order$]="order$" (ytStartsPlay)="onYtStartsPlay($event)"></app-video-player>
      <img *ngIf="!song.video_url" [src]="song.photos[0]" alt="">
    </div>
    <div class="detail__info">
      <div class="info__date__record">
        <div class="date__record__title">{{ 'map.player.songs-list.song-card.song-card-detail.record-date' | translate }}</div>
        <div class="date__record__date">{{ song.recording_date | date: 'dd.MM.yyyy' }}</div>
      </div>

      <div class="info__collectors">
        <div class="collectors__title">{{ 'map.player.songs-list.song-card.song-card-detail.collectors' | translate }}</div>
        <div class="collectors__names">
          <ul class="names__names__list">
            <li>
              <span *ngFor="let collector of song.collectors; let last = last">
                {{ collector }}{{ !last ? ', ' : '' }}
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="info__ethnographic__region">
        <div class="ethnographic__region__title">
          {{ 'map.player.songs-list.song-card.song-card-detail.ethnographic-region' | translate }}
        </div>
        <div class="ethnographic__region__region">{{ song.ethnographic_district }}</div>
      </div>

      <div class="info__date__record">
        <div class="date__record__title">Фонд: </div>
        <div class="date__record__date">{{ song.fund}}</div>
      </div>

      <button class="info__btn__more__detail" [routerLink]="song.id + ''">
        {{ 'map.player.songs-list.song-card.song-card-detail.more-detail-button' | translate }}
      </button>
    </div>

    <div class="detail__song__text">
      <div class="song__text__content" *ngIf="song.song_text" [innerHTML]="song.song_text | formatText"></div>
      <div class="song__text__content" *ngIf="!song.song_text">Нажаль, тексту пісні немає наразі</div>
    </div>
  </div>
