@import '/src/typography/typography';

.team {
  background: var(--bg-color-screen);
  padding: 80px 0;

  &__title {
    @include h2-desktop;

    margin-bottom: 48px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 32px;
  }

  .team {
    padding: 60px 0;

    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 675px) {
  .container {
    margin: 0 32px;
  }
}

@media (max-width: 465px) {
  .container {
    margin: 0 16px;
  }

  .team {
    padding: 48px 0;

    &__title {
      @include h4-mobile;
    }

    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

